// @import "detail-products/detail-products";
// @import "detail-restaurants/detail-restaurants";

.details {
	
	h2 {
		margin: 0;
	}
	.item_detail {
		padding: 3% 0;
	}
	.title {
		text-align: center;
	    margin-bottom: 3%;
	    h2 {
	    	color: $color-title;
	    	font-family: $font-title-ctn;
	    	@include breakpoint(tablet) {
		    	font-size: 25px;
		    }
		    @include breakpoint(tablet) {
		    	font-size: 24px;
		    }
		    @include breakpoint(small-tablet) {
		    	font-size: 22px;
		    }
		    @include breakpoint(phone) {
		    	font-size: 20px;
		    }
		     @include breakpoint(small-phone) {
		    	font-size: 18px;
		    }
	    } 
	}
	.page_location {
		background: $color-hover;
		padding: 1% 0;
		.it_page {
			display: inline-block;
			float: left;
			margin-right: 1%;
			a {
				color: white;
			}
		}
	}
	.introduce {
		padding: 3% 0;
		background: white;
		.it_intro {
			margin-bottom: 1%;
		}
		.info {
			.img {
				// text-align: center;
				// padding: 0;
				// @include breakpoint(phone) {
				// 	width: 100%;
				//     margin: 3% 0;
				// }
				// .item {
				// 	border: 1px solid $color-bd-img;
				// }
				// .left {
				// 	padding: 0;
				// 	padding-right: 5%;
				// 	@include breakpoint(phone) {
				// 		width: 100%;
				// 		padding-right: 0;
				// 		display: none;
				// 	    margin-top: 2%;
				// 	}
				// 	.slick-list {
				// 		padding: 0 !important;
				// 		.slick-track {
				// 			width: 100% !important;
				// 		}
				// 	}
				// 	.item {
				// 		width: 100% !important;
				// 		padding: 0;
				// 		margin-bottom: 12%;
				// 		@include breakpoint(tablet) {
				// 			margin-bottom: 30%;
				// 		}
				// 		@include breakpoint(phone) {
				// 		    width: 33.33333333333333% !important;
				// 		    // display: inline-block;
				// 		    float: left;
				// 		    border: none;
				// 		    margin: 0;

				// 		}
				// 		.bg {
				// 			padding-top: 60%;
				// 			background: url(../img/food/food1.jpg) no-repeat;
				// 			background-position: center;
				// 			background-size: cover;
				// 			cursor: pointer;
				// 			@include breakpoint(tablet) {
				// 				padding-top: 80%;
				// 			}
				// 			@include breakpoint(phone) {
				// 				padding-top: 55%;
				// 			}
				// 		}
				// 	}
				// 	.item2 {
				// 		.bg {
				// 			background: url(../img/food/food2.jpg) no-repeat;
				// 			background-position: center;
				// 			background-size: cover;
				// 		}
				// 	}
				// 	.item3 {
				// 		.bg {
				// 			background: url(../img/food/food3.jpg) no-repeat;
				// 			background-position: center;
				// 			background-size: cover;
				// 		}
				// 	}
				// }
				// .left2 {
				// 	display: none;
				// 	@include breakpoint(phone) {
				// 		display: block;
				// 	}
				// }
				// .right {
				// 	padding: 0;
				// 	@include breakpoint(phone) {
				// 	    width: 100%;
				// 	}
				// 	.bg {
				// 		padding-top: 55%;
				// 		background: url(../img/food/food1.jpg) no-repeat;
				// 		background-position: center;
				// 		background-size: cover;
				// 		@include breakpoint(tablet) {
				// 			padding-top: 83%;
				// 		}
				// 		@include breakpoint(phone) {
				// 			padding-top: 40%;
				// 		}
				// 	}
				// 	.item2 {
				// 		.bg {
				// 			background: url(../img/food/food2.jpg) no-repeat;
				// 			background-position: center;
				// 			background-size: cover;
				// 		}
				// 	}
				// 	.item3 {
				// 		.bg {
				// 			background: url(../img/food/food3.jpg) no-repeat;
				// 			background-position: center;
				// 			background-size: cover;
				// 		}
				// 	}
				// }
				padding: 0;
				@include breakpoint(phone) {
					width: 100%;
					margin-bottom: 5%;
					padding: 0;
				}
				.bg {
					padding-top: 45%;
					background-position: center;
					background-size: cover;
					@include breakpoint(tablet) {
						padding-top: 55%;
					}
					@include breakpoint(phone) {
						padding-top: 35%;
					}
				}
				
			}
			.text {
				padding: 0;
				padding-left: 3%;
				@include breakpoint(tablet) {
					padding-left: 5%;
				}
				@include breakpoint(phone) {
					width: 50%;
					float: left;
					padding: 0;
				}
				@include breakpoint(mid-phone) {
					width: 100%;
					margin-bottom: 2%;
				}
				.content_text {
					.item {
						margin: 0 0 2%;
						font-size: 16px;
						@include breakpoint(tablet) {
							font-size: 15px;
						}
						@include breakpoint(small-tablet) {
							font-size: 14px;
						}
						i {
							margin-right: 1%;
						}
					}
					.name {
						font-family: $font-title-ctn;
						color: $color-title;
						font-size: 25px;
						@include breakpoint(tablet) {
							font-size: 22px;
						}
						@include breakpoint(small-tablet) {
							font-size: 20px;
						}
						@include breakpoint(small-phone) {
							font-size: 17px;
						}
					}
					.heart {
						i {
							margin: 0;
							color: $color-heart;
							font-size: 15px;
							@include breakpoint(small-tablet) {
								font-size: 13px;
							}
						}
					}
					.restaurant {
						a {
							font-family: $font-content;
							color: black;	
						}
					}
					.social {
						.it_social {
							margin-right: 1%;
							width: 17%;
							display: inline-block;
							padding: 1%;
							text-align: center;
						    box-shadow: 2px 2px 6px 1px #898383;
							@include breakpoint(small-tablet) {
								width: 24%;
							}
							@include breakpoint(mid-phone) {
								width: 18%;
							}
							a {
								font-size: 14px;
								color: $color-white;
								text-decoration: none;
								@include breakpoint(tablet) {
									font-size: 13px;
								}
								@include breakpoint(tablet) {
									font-size: 12px;
								}

								i {
									padding-right: 7%;
								}
							}	
						}
						.fb {
							background: $color-facebook;
							&:hover {
								background: $color-hover-fb;
							}
						}
						.gg {
							background: $color-google-plus;
							&:hover {
								background: $color-hover-gg;
							}
						}
					}
				}
			}
			.clearfix {
				@include breakpoint(phone) {
					display: none;
				}
			}
		}
		.map {
			@include breakpoint(phone) {
				width: 50%;
				float: left;
			}
			@include breakpoint(mid-phone) {
				width: 100%;
			}
			iframe {
				width: 100%;
			}
		}
		.interact {
			border: 1px solid $color-hover2;
			background: $color-white;
			text-align: center;   
			background: #885c1a;
			@include breakpoint(tablet) {
				font-size: 13px;
			}
			@include breakpoint(phone) {
				 margin-top: 3%;
			}
			// margin-top: 2%;
			.it_inter {
				padding: 0;
				// @include breakpoint(tablet) {
				// 	padding: 0;
				// }
				a {
					color: $color-white;
					padding: 6% 0;
					display: block;
				    font-weight: bold;
				    @include breakpoint(phone) {
						font-size: 12px;
					}
					@include breakpoint(mid-phone) {
						color: transparent;
						font-size: 0;
					}
					
					i {
						padding-right: 5%;
						@include breakpoint(mid-phone) {
							color: $color-white;
							font-size: 12px;
						}

					}
					&:hover {
						color: $color-white;
						background: $color-hover;
						transition: all .3s;
						text-decoration: none;
					}
					&:focus {
						text-decoration: none;
					}
				}
			}
		}
	}
	.other {
		background: url('../img/background/bg10.jpg') no-repeat;
		background-position: center;
		background-size: cover;
		.wrp {
			.other_slide {
				margin: 3% 0;
				margin-top: 0;
				.item_slide {
					.bg {
						padding-top: 60%;
						background: url(../img/food/food1.jpg) no-repeat;
						background-position: center;
						background-size: cover;
						cursor: pointer;
					}
				}
				.item2 {
					.bg {
						background: url(../img/food/food2.jpg) no-repeat;
						background-position: center;
						background-size: cover;
					}
				}
				.item3 {
					.bg {
						background: url(../img/food/food3.jpg) no-repeat;
						background-position: center;
						background-size: cover;
					}
				}
				.item4 {
					.bg {
						background: url(../img/food/food4.jpg) no-repeat;
						background-position: center;
						background-size: cover;
					}
				}
				button {
					z-index: 1;
					width: 35px;
					height: 35px;
					border-radius: 50%;
					@include breakpoint(small-tablet) {
						width: 26px;
						height: 26px;
					}
					@include breakpoint(mid-phone) {
						display: none !important;
					}
					@extend .btn_bg;
					&:before {
						content: '';
					}
					&:hover {
					// 	background: url(../img/icon/pre-4.png) no-repeat !important;
					// background-position: center !important;
					// background-size: 60% !important;
					// 	background: rgba(0,0,0,0.7) !important;
					// 	background: url(../img/icon/pre-4.png) no-repeat !important;
					// 	background-position: center !important;
					// background-size: 60% !important;
					
					}
				}
				.btn_bg {
					background: url(../img/icon/pre-4.png) no-repeat ;
					background-position: center ;
					background-size: 60% ;
					background-color: rgba(0,0,0,0.4) ;
					@include breakpoint(small-tablet) {
						background-size: 50%;
					}
				}
				.slick-next {
					right: 30px;
					
					background: url(../img/icon/next-4.png) no-repeat;
					background-position: center;
					background-size: 60%;
					background-color: rgba(0,0,0,0.4);
					// @extend .btn_bg;
					@include breakpoint(small-tablet) {
						background-size: 50%;
					}
				}
				.slick-prev {
					left: 30px;
				}
			}
		}
	}
	.comments {
		background: white;
		.wrp {
			@include breakpoint(small-phone) {
				font-size: 13px;
			}
			.content {
				
				.item_content {
					border-bottom: 1px solid #c2c2c2;
					margin-bottom: 3%;
					&:last-child {
						border-bottom: none;
					}
					.poster {
						border-bottom: 1px dashed #d4d0d0;
	    				padding: 1% 0;

						.item {
							padding: 0;
							.wrp_item {
								// padding: 0 1%;
							}
						}
						.avatar {

							float: left;
							margin-right: 2%;
							.bg {
								height: 50px;
								width: 50px;
								background: url('../img/user/h1.jpg') no-repeat;
								background-position: center;
								background-size:  cover;
								border-radius: 50%;
								@include breakpoint(small-phone) {
									height: 35px;
									width: 35px;
								}
							}
						}
						.infor {
							p {
								margin: 0;
							}
							width: 200px;
							float: left;
						}
					}
					.ctn_cmt {
						padding: 2% 0;
						border-bottom: 1px dashed #d4d0d0;
						
						.title_cmt {
							// display: none;
							h3 {
								font-size: 17px;
								font-weight: bold;
								margin-top: 0;
								@include breakpoint(small-phone) {
									font-size: 14px;
								}
							}
						}
						.content {
							margin: 0 !important;
							.item_ctn {
								padding: 0;
							}
							.text {
								padding-right: 2%;
								p {
									margin: 0;
								}
							}
							.img {
								display: none;
								@include breakpoint(tablet) {
									margin: 2% 0;	
								}
								.item {
									padding: 0;
									.wrp_item {
										.bg {
											padding-top: 60%;
											cursor: pointer;
										}
									}
								}
								.item1 {
									.bg {
										background: url(../img/food/food1.jpg) no-repeat;
										background-position: center;
										background-size: cover;
									}
								}
								.item2 {
									.bg {
										background: url(../img/food/food2.jpg) no-repeat;
										background-position: center ;
										background-size: cover;
									}
								}
								.item3 {
									.bg {
										background: url(../img/food/food3.jpg) no-repeat;
										background-position: center;
										background-size: cover;
									}
								}
								.item4 {
									.bg {
										background: url(../img/food/food4.jpg) no-repeat;
										background-position: center;
										background-size: cover;
									}
								}
							}
							.review_cmt {
							    margin-top: 1%;
								.item {
									width: 8%;
									float: left;
									// margin-right: 3%;
									@include breakpoint(tablet) {
										width: 11%;
									}
									@include breakpoint(small-tablet) {
										width: 13%;
									}
									@include breakpoint(phone) {
										width: 16%;
									}
									@include breakpoint(mid-phone) {
										width: 10%;
									}
									@include breakpoint(small-phone) {
										width: 14%;
									}
									i {
										padding-right: 4%;
										@include breakpoint(mid-phone) {
											color: $color-gray-light3;
											font-size: 13px;
										}
									}
									a {
										color: $color-gray-light3;
										font-size: 13px;
										@include breakpoint(tablet) {
											font-size: 12px;
										}
										@include breakpoint(mid-phone) {
											color: transparent;
											font-size: 0;
										}
									}
								}
							}
						}
					}
					.rep_cmt {
						padding: 2% 0;
						.avatar {
							float: left;
							margin-right: 2%;
							.bg {
								height: 40px;
								width: 40px;
								background: url('../img/user/h1.jpg') no-repeat;
								background-position: center;
								background-size:  cover;
								border-radius: 50%;
								@include breakpoint(small-phone) {
									height: 30px;
									width: 30px;
								}
							}
						}
						.input_text {
							width: 93%;
							float: left;
							padding: 3px 0;
							@include breakpoint(tablet) {
								width: 92%;
							}
							@include breakpoint(small-tablet) {
								width: 90%;
							}
							@include breakpoint(phone) {
								width: 88%;
							}
							@include breakpoint(mid-phone) {
								width: 83%;
							}
							@include breakpoint(small-phone) {
								width: 87%;
							}
							textarea {
								border-radius: 0;
								height: 34px;
								@include breakpoint(small-phone) {
									height: 28px;
								}
							}
						}
						.item_rep {
							margin-bottom: 2%;
							p {
								margin: 0px;
							}
							
						}
						.chat {

						}
					}
				}
			}
			.view_more {
			    text-align: center;
			    button {
					border-radius: 0;
					padding: 5px 20%;
					background: $color-hover;
					color: $color-white;
					&:hover {
						background: #c7913e;
					}
			    }
			}
		}
	}
}