<div ng-controller="newsCtrl">
  <div id="news" class="news ">
    <div class="wrp_ctn container">
      <div class="ctn_title">
        <h2>News</h2>
        <p class="underline"></p>
      </div>
      <div class="ctn_news ctn_products">
        <div class="item_news item_products item1 col-md-3 col-xs-3"> 
          <div class="wrp_item">
            <div class="img_news img_products">  
              <div class="bg_img"></div>
              <div class="view">
                <div class="wrp_view animated fadeIn">
                  <a ui-sref="detail_products"><i class="fa fa-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="ctn_item">
              <div class="info">
                <h3><a ui-sref="detail_products">Kem Baskin Robbins</a></h3>
                <p class="res">Baskin Robbins Bạch Đằng</p>
                <p class="address">74 Bạch Đằng, Quận Hải Châu, Đà Nẵng</p>
                <p class="price">50.000</p>
              </div>
              <div class="parameter">
                <div class="col-md-4 col-xs-4">
                  <a href=""><i class="fa fa-heart"></i> 20</a>
                </div>
                <div class="col-md-4 col-xs-4">
                  <a href=""><i class="fa fa-comment"></i> 100</a>
                </div>
                <div class="col-md-4 col-xs-4">
                  <a href=""><i class="fa fa-bookmark"></i> 50</a>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item_news item_products item2 col-md-3 col-xs-3"> 
          <div class="wrp_item">
            <div class="img_news img_products">  
              <div class="bg_img"></div>
              <div class="view">
                <div class="wrp_view animated fadeIn">
                  <a href=""><i class="fa fa-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="ctn_item">
              <div class="info">
                <h3><a href="">Freeze Trà Xanh</a></h3>
                <p class="res">Highlands Nguyễn Du</p>
                <p class="address">74 Nguyễn Du Đà Nẵng</p>
                <p class="price">49.000</p>
              </div>
              <div class="parameter">
                <div class="col-md-4 col-xs-4">
                  <a href=""><i class="fa fa-heart"></i> 20</a>
                </div>
                <div class="col-md-4 col-xs-4">
                  <a href=""><i class="fa fa-comment"></i> 100</a>
                </div>
                <div class="col-md-4 col-xs-4">
                  <a href=""><i class="fa fa-bookmark"></i> 50</a>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item_news item_products item3 col-md-3 col-xs-3"> 
          <div class="wrp_item">
            <div class="img_news img_products">  
              <div class="bg_img"></div>
              <div class="view">
                <div class="wrp_view animated fadeIn">
                  <a href=""><i class="fa fa-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="ctn_item">
              <div class="info">
                <h3><a href="">Hamberger</a></h3>
                <p class="res">Bớp Bư Bự</p>
                <p class="address">74 Phan Châu Trinh Đà Nẵng</p>
                <p class="price">50.000</p>
              </div>
              <div class="parameter">
                <div class="col-md-4 col-xs-4">
                  <a href=""><i class="fa fa-heart"></i> 20</a>
                </div>
                <div class="col-md-4 col-xs-4">
                  <a href=""><i class="fa fa-comment"></i> 100</a>
                </div>
                <div class="col-md-4 col-xs-4">
                  <a href=""><i class="fa fa-bookmark"></i> 50</a>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item_news item_products item4 col-md-3 col-xs-3"> 
          <div class="wrp_item">
            <div class="img_news img_products">  
              <div class="bg_img"></div>
              <div class="view">
                <div class="wrp_view animated fadeIn">
                  <a href=""><i class="fa fa-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="ctn_item">
              <div class="info">
                <h3><a href="">Yaourt Dâu</a></h3>
                <p class="res">Helen's cafe</p>
                <p class="address">74 Ông Ích Khiêm Đà Nẵng</p>
                <p class="price">50.000</p>
              </div>
              <div class="parameter">
                <div class="col-md-4 col-xs-4">
                  <a href=""><i class="fa fa-heart"></i> 20</a>
                </div>
                <div class="col-md-4 col-xs-4">
                  <a href=""><i class="fa fa-comment"></i> 100</a>
                </div>
                <div class="col-md-4 col-xs-4">
                  <a href=""><i class="fa fa-bookmark"></i> 50</a>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item_news item_products item1 col-md-3 col-xs-3"> 
          <div class="wrp_item">
            <div class="img_news img_products">  
              <div class="bg_img"></div>
              <div class="view">
                <div class="wrp_view animated fadeIn">
                  <a href=""><i class="fa fa-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="ctn_item">
              <div class="info">
                <h3><a href="">Kem Baskin Robbins</a></h3>
                <p class="res">Baskin Robbins Bạch Đằng</p>
                <p class="address">74 Bạch Đằng, Quận Hải Châu, Đà Nẵng</p>
                <p class="price">50.000</p>
              </div>
              <div class="parameter">
                <div class="col-md-4 col-xs-4">
                  <a href=""><i class="fa fa-heart"></i> 20</a>
                </div>
                <div class="col-md-4 col-xs-4">
                  <a href=""><i class="fa fa-comment"></i> 100</a>
                </div>
                <div class="col-md-4 col-xs-4">
                  <a href=""><i class="fa fa-bookmark"></i> 50</a>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item_news item_products item2 col-md-3 col-xs-3"> 
          <div class="wrp_item">
            <div class="img_news img_products">  
              <div class="bg_img"></div>
              <div class="view">
                <div class="wrp_view animated fadeIn">
                  <a href=""><i class="fa fa-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="ctn_item">
              <div class="info">
                <h3><a href="">Freeze Trà Xanh</a></h3>
                <p class="res">Highlands Nguyễn Du</p>
                <p class="address">74 Nguyễn Du Đà Nẵng</p>
                <p class="price">49.000</p>
              </div>
              <div class="parameter">
                <div class="col-md-4 col-xs-4">
                  <a href=""><i class="fa fa-heart"></i> 20</a>
                </div>
                <div class="col-md-4 col-xs-4">
                  <a href=""><i class="fa fa-comment"></i> 100</a>
                </div>
                <div class="col-md-4 col-xs-4">
                  <a href=""><i class="fa fa-bookmark"></i> 50</a>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item_news item_products item3 col-md-3 col-xs-3"> 
          <div class="wrp_item">
            <div class="img_news img_products">  
              <div class="bg_img"></div>
              <div class="view">
                <div class="wrp_view animated fadeIn">
                  <a href=""><i class="fa fa-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="ctn_item">
              <div class="info">
                <h3><a href="">Hamberger</a></h3>
                <p class="res">Bớp Bư Bự</p>
                <p class="address">74 Phan Châu Trinh Đà Nẵng</p>
                <p class="price">50.000</p>
              </div>
              <div class="parameter">
                <div class="col-md-4 col-xs-4">
                  <a href=""><i class="fa fa-heart"></i> 20</a>
                </div>
                <div class="col-md-4 col-xs-4">
                  <a href=""><i class="fa fa-comment"></i> 100</a>
                </div>
                <div class="col-md-4 col-xs-4">
                  <a href=""><i class="fa fa-bookmark"></i> 50</a>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item_news item_products item4 col-md-3 col-xs-3"> 
          <div class="wrp_item">
            <div class="img_news img_products">  
              <div class="bg_img"></div>
              <div class="view">
                <div class="wrp_view animated fadeIn">
                  <a href=""><i class="fa fa-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="ctn_item">
              <div class="info">
                <h3><a href="">Yaourt Dâu</a></h3>
                <p class="res">Helen's cafe</p>
                <p class="address">74 Ông Ích Khiêm Đà Nẵng</p>
                <p class="price">50.000</p>
              </div>
              <div class="parameter">
                <div class="col-md-4 col-xs-4">
                  <a href=""><i class="fa fa-heart"></i> 20</a>
                </div>
                <div class="col-md-4 col-xs-4">
                  <a href=""><i class="fa fa-comment"></i> 100</a>
                </div>
                <div class="col-md-4 col-xs-4">
                  <a href=""><i class="fa fa-bookmark"></i> 50</a>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div> 
</div>