<div ng-controller="contactCtrl"> 
  <!--Contact-->
  <div id="contact" class="contact">
    <div class="wrp_contact ">
      <div class="wrp_ctn container">
        <div class="ctn_title">
          <h2>Contact Us</h2>
          <p class="underline"></p>
        </div>
        <div class="ctn_contact ctn_products">
          <div class="icon">
            <div class="item_icon col-md-4 col-xs-4">
              <span><i class="fa fa-map-marker"></i></span>
              <div class="text">
                <p>242 Nguyễn Hoàng, Đà Nẵng, Việt Nam</p>
              </div>
            </div>
            <div class="item_icon col-md-4 col-xs-4">
              <span><i class="fa fa-phone"></i></span>
              <div class="text">
                <p><a href="">+1282143365</a></p>
                <p><a href="">+9382143365</a></p>
              </div>
            </div>
            <div class="item_icon col-md-4 col-xs-4">
              <span><i class="fa fa-envelope"></i></span>
              <div class="text">
                <p><a href="mailto:hieutran040495@gmail.com">hieutran040495@gmail.com</a></p>
                <p><a href="mailto:tthieu040495@gmail.com">tthieu040495@gmail.com</a></p>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="message">
            <div class="title"><h3>SEND A MESSAGE</h3></div>
            <div class="content">
              <div class="form-group item_ctn col-md-4">
                <input type="text" class="form-control" placeholder="Name">
              </div>
              <div class="form-group item_ctn col-md-4">
                <input type="text" class="form-control" placeholder="Email">
              </div>
              <div class="form-group item_ctn col-md-4">
                <input type="text" class="form-control" placeholder="Phone"">
              </div>
              <div class="clearfix"></div>
              <div class="form-group textarea">
                <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Message"></textarea>
              </div>
            </div>
            <div class="send">
              <button type="button" class="btn btn-success">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>