<div class="comments item_detail">
	<div class="wrp container">
		<div class="title">
			<h2>Bình luận</h2>
		</div>
		<div class="content">
			<div class="item_content">
				<div class="poster">
					<div class="avatar item">
						<div class="wrp_item">
							<div class="bg"></div>
						</div>
					</div>
					<div class="infor item ">
						<div class="wrp_item">
							<div class="name"><p><strong>Hiếu Trần</strong></p></div>
							<div class="date_time">
								<p><span class="date">09/03/2017</span><span class="time">04:00 PM</span></p>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="ctn_cmt">
					<div class="title_cmt">
						<h3>Tiêu đề bài viết</h3>
					</div>
					<div class="content">
						<div class="text item_ctn col-md-12">
							<p>
								Khi trưa được anh hai chở đi ăn quán này, mình ấn tượng nhất là món này, Bì Úc Áp Chảo Sốt Tiêu Đen :3 thịt thì mềm mà cả khoai tây nghiền cũng ngon nữa, muốn chụp luôn cái dĩa lúc mình ăn xong luôn cơ mà thôi :3 nước uống cũng khá ngon, chị nhân viên cũng dễ thương nữa á :p
							</p>
						</div>
						<div class="img item_ctn col-md-12">
							<div class="item item1 col-md-3 col-xs-3">
								<div class="wrp_item">
									<div class="bg"></div>
								</div>
							</div>
							<div class="item item2 col-md-3 col-xs-3">
								<div class="wrp_item">
									<div class="bg"></div>
								</div>
							</div>
							<div class="item item3 col-md-3 col-xs-3">
								<div class="wrp_item">
									<div class="bg"></div>
								</div>
							</div>
							<div class="item item4 col-md-3 col-xs-3">
								<div class="wrp_item">
									<div class="bg"></div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
						<div class="review_cmt">
							<div class="item">
								<a href=""><i class="fa fa-heart"></i>Thích</a>
							</div>
							<div class="item">
								<a href=""><i class="fa fa-comment"></i>Thảo luận</a>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="rep_cmt">
					<div class="">
						<div class="item_rep">
							<div class="avatar item">
								<div class="wrp_item">
									<div class="bg"></div>
								</div>
							</div>
							<div class="infor item ">
								<div class="wrp_item">
									<div class="name"><p><strong>Hiếu Trần</strong></p></div>
									<div class="date_time">
										<p>abababasjasjsjhdfsdfsf</p>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div  class="item_rep">
							<div class="avatar item">
								<div class="wrp_item">
									<div class="bg"></div>
								</div>
							</div>
							<div class="infor item ">
								<div class="wrp_item">
									<div class="name"><p><strong>Hiếu Trần</strong></p></div>
									<div class="date_time">
										<p>abababasjasjsjhdfsdfsf</p>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="chat">
							<div class="avatar item">
								<div class="wrp_item">
									<div class="bg"></div>
								</div>
							</div>
							<div class="input_text item ">
							<textarea name="" id="input" class="form-control" rows="3" required="required"></textarea>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="view_more">
			<button type="button" class="btn">Xem thêm</button>
		</div>
	</div>
</div>