@mixin background_img ($name, $position, $size, $padding_top) {
	background: url(#{$name}) no-repeat;
	background-position: $position; 
	background-size: $size;
	height: 0;
	padding-top: $padding_top;
}
@mixin background_color ($bg_color, $filter, $color) {
	background: $bg_color;
	filter: opacity($filter);
	text-align: center;
	color: $color;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
// @mixin test($color) {
// 	background: $color;
// }