<div class="detail_products details" ng-controller="detailProductsCtrl">
	<div class="page_location">
		<div class="container">
			<div class="it_page home">
				<a href="">Home < </a>
			</div>
			<div class="it_page ">
				<a href="">News </a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!--Introduce-->
	<div ng-include="'app/components/detail_products/introduce/introduce.html'"></div>
	<!--Other Products-->
	<div ng-include="'app/components/detail_products/other/other.html'"></div>
	<!--Comments-->
	<div ng-include="'app/components/detail_products/comments/comments.html'"></div>
</div>