
// ===========================================================
// Reset
// ===========================================================

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, address, em, img,strong, dl, dt, dd, ul, li, fieldset, form, label, legend {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
}

:focus {
    outline: 0 !important;
}

ol,
ul {
    list-style: none;
}

img {
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

a {
    &:link,
    &:visited,
    &:hover,
    &:focus {
            text-decoration: none;
    }
}

// ::selection {
//     background-color: $color-black;
//     color: $color-white;
// }

::-webkit-file-upload-button {
    cursor: pointer;
}

a,
button,
input[type="submit"] {
    &:focus, &:active {
        box-shadow: none !important;
    }
}

body {
    // font-family: $font-family-secondary;
    // font-family: $font-family-primary;
    // font-size: $font-size-text;
    // font-weight: $font-normal;
    // color: $color-text;
    // background-color: $color-background;

    // &.en {
    //     font-family: $font-family-primary;
    // }
}