// ---------------------Color-----------------------------
$color-black: #000000;
$color-dot-bor: #c8cdd1;
$color-heart: #c3c7c8;
$color-features: #f3f7f8;
$color-title: #0db592;
$color-green: #0cb87d;
$color-green2: #0eb391;
$color-green3: #26bb9e;
$color-green4: #1ea78d;
$color-green5: #24c8a7;
$color-green-light: #d4eee5;
$color-copyright: #1b947b;
$color-logo: #f6b121;
$color-blue: #0270bb;
$color-blue-light: #31b2ec;
$color-blue-2: #5170bb;
$color-blue-3: #0971b6;
$color-white: #fff;
$color-black: #000;
$color-primary: #a42a3b;
$color-orange: #f99c19;
$color-orange-2: #f9a229;
$color-secondary: #6f4931;
$color-gray: #c2c2c2;
$color-gray-light: #dddddd;
$color-gray-light2: #cdd2d6;
$color-gray-light3: #a9b3b2;
$color-gray-light4: #e8e4e4;
$color-gray-dark1: #4f565d;
$color-gray-dark2: #323c3e;
$color-gray-dark3: #5b646e;
$color-gray-dark4: #212324;
$color-link: #dfad65;
$color-clock: #e3ad6d;
$color-button-border: #a0816d;
$color-hover-link: #000;
$color-text: #333;
$color-text-1: #444;
$color-text-2: #888;
$color-fb-comment-header: #cccccc;
$color-border: #d5d5d5;
$color-btn-border: #cebfb0;
$color-menu-text: #333;
$color-time-coment: #777;
$color-text-view-more: #5874ac;
$color-background-view-more: #daedff;
$color-description: #806752;
$color-border: #e1e1e1;
$color-header-border-bottom: #e8d6c8;
$color-resservation-background: #7f1e2b;
$color-menu-sub-hover: #d2b886;
$color-text-silver: #999999;
$color-text-detail: #555555;
$color-text-other: #dba215;
$color-warning: #d4230f;
$color-error: #f00;
$color-background: #fff;
$color-background-footer: #232432;
$color-discover-paragraph: #d2d2d2;
$color-secondary-darken: darken($color-secondary, 10%);
$color-moss: #5b7a74;
//Border input footer
$color-border-input: #1c9d84;
//Màu nền mờ
$color-blurred: rgba(0, 0, 0, 0.3); 
//Color social network
$color-twitter: #32aadc;
$color-facebook: #234e9a;
$color-dribbble: #f26798;
$color-google-plus: #e2131e;
$color-behance: #fb9a39;
//Color hover social
$color-hover-fb: #1f4489;
$color-hover-tw: #2295c6;
$color-hover-gg: #c5101a;
//Color hover menu
$color-hover: #d0963e;
$color-hover2: #9e6816;
//color dots
$color-dots: #fb9d00;
//color title
$color-title: #d0963e;
//color parameter
$color-para: #8d6d3b;
//color-text
$color-text: #626261;
//color price
$color-price: #c95f32;
//color heart
$color-heart: #f55b35;
//color border img
$color-bd-img: #ab6824;

// ---------------------Fonts-----------------------------
$font-banner: 'Pacifico';;
$font-main-menu: 'OpenSans Regular';
$font-stt: 'OpenSans Regular';
$font-footer: 'OpenSans Regular';
$font-title: 'Pacifico';
$font-item: 'OpenSans Semibold';
$font-content: 'OpenSans Regular';
$font-title-ctn: 'OpenSans Bold';
$font-top-header: 'OpenSans Bold';
$font-register: 'OpenSans Regular';
$font-para: 'OpenSans Light';
$font-address: 'OpenSans Light';