.about {
	.ctn_about {
		p {
			margin: 0;
			font-family: $font-content;
			text-align: center;
			font-size: 20px;
			padding: 0 12%;
			@include breakpoint(tablet) {
				font-size: 16px;
			}
			@include breakpoint(phone) {
				font-size: 14px;
			}
			@include breakpoint(mid-phone) {
				font-size: 12px;
			}
			// @include breakpoint(phone) {
			// 	font-size: 10px;
			// }
		}
	}
}