.contact {
	text-align: center;
	.wrp_contact {
		font-family: $font-content;
		.ctn_contact {
		    a, p ,h3, span {
		    	color: $color-text;

		    }
			.icon {
				margin-bottom: 4%;
				@include breakpoint(phone) {
					display: none;
				}
				.item_icon {
					@include breakpoint(small-tablet) {
						padding: 0;
					}
					i {
						line-height: 60px;
						font-size: 25px;
						color: $color-white;
						@include breakpoint(small-tablet) {
							line-height: 55px;
							font-size: 20px;
						}
					}
					span {
						border: 1px solid $color-hover;
						background: $color-hover;
						border-radius: 50%;
						display: inline-block;
						width: 60px;
						@include breakpoint(small-tablet) {
							width: 55px;
						}
					}
					.text {
						margin-top: 5%;
						@include breakpoint(small-tablet) {
							font-size: 13px;
						}
						p {
							margin: 0;
						}
					}
				}
			}
			.message {
				input, textarea, button {
					border-radius: 0;
					border: 1px solid $color-hover;
					background-color: transparent;
					&:focus {
						border: 1px solid $color-hover;
    					box-shadow: 0px 0px 13px 0px $color-hover;
					}
				}
				input {
					height: 40px;
					@include breakpoint(small-phone) {
						height: 30px;
					}
				}
				textarea {
					height: 200px;
					max-width: 100%;
					@include breakpoint(phone) {
						height: 140px;
					}
					@include breakpoint(small-phone) {
						height: 90px;
					}
				}
				//Change color text placeholder
				input::-webkit-input-placeholder {
					color: $color-text !important;
				}
				 
				input:-moz-placeholder { /* Firefox 18- */
					color: $color-text !important;  
				}
				 
				input::-moz-placeholder {  /* Firefox 19+ */
					color: $color-text !important;  
				}
				 
				input:-ms-input-placeholder {  
					color: $color-text !important;  
				}
				textarea::-webkit-input-placeholder {
					color: $color-text !important;
				}
				 
				textarea:-moz-placeholder { /* Firefox 18- */
					color: $color-text !important;  
				}
				 
				textarea::-moz-placeholder {  /* Firefox 19+ */
					color: $color-text !important;  
				}
				 
				textarea:-ms-input-placeholder {  
					color: $color-text !important;  
				}
				.title {
					margin-bottom: 4%;
					h3 {
						margin: 0;
						font-weight: bold;
						@include breakpoint(phone) {
							font-size: 18px;
						}
					}
				}
				.content {
					.form-group {
						padding: 0;
						margin: 0;
						.form-control {
							color: $color-text;
						}
					}
					.item_ctn {
						margin-bottom: 3%;
						padding-right: 3%;
						padding-left: 3%;
					}
					.textarea {
						padding-right: 3%;
						padding-left: 3%;
					}
					
				}
				.send {
					text-align: left;
					padding: 3%;
					padding-bottom: 0;
					button {
						font-size: 16px;
						font-weight: bold;
						padding: 1% 3%;
						background: $color-hover;
						border: 2px solid $color-hover;
						transition: .3s ease-in-out;
						@include breakpoint(small-phone) {
							font-size: 13px;
							padding: 1% 5%;
						}
						&:hover {
							color: $color-hover;
							background: $color-white;
							border: 2px solid $color-hover;						
						}

					}
				}
			}
		}
	}
}