.footer {
	// background: #191a1b;
	background: url(../img/background/bg6.jpg) no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
	font-family: $font-footer;
	text-align: center;
	.wrp_footer {
	    background: rgba(0,0,0,0.9);
		color: $color-white;
		p {
			@include breakpoint(tablet) {
				font-size: 13px;
			}
		}
		.main_footer {
			padding: 2% 0;
			.item_footer {
				a {
					color: $color-hover;
				}
				h3, p {
					margin: 0;
				}
				h3 {
					margin: 7% 0;
					@include breakpoint(tablet) {
						font-size: 22px;
					}
					@include breakpoint(small-tablet) {
						margin: 0;
						margin-bottom: 3%;
					}

				}
				p {
					margin-bottom: 2%;
					
				}
				@include breakpoint(small-tablet) {
					width: 100%;
					padding: 0;
					margin-top: 3%;
				}
			}
			.logo {
				padding: 4% 0;
				.bg {
					background: url(../img/logo/logo3.png) no-repeat;
					background-position: center;
					background-size: 45%;
					height: 0;
					padding-top: 25%;
					@include breakpoint(tablet) {
						background-size: 65%;
						padding-top: 30%;
					}
					@include breakpoint(small-tablet) {
						background-size: 30%;
    					padding-top: 18%;
					}
				}
			}
			.au {}
			.cu {
				p {
					// margin: 0;
				}
				.social {
					margin-top: 6%;
					@include breakpoint(tablet) {
						margin-top: 7%;
					}
					@include breakpoint(small-tablet) {
						padding: 0 25%;
					}
					a {
						display: inline-block;
						color: $color-white;
						i {
							font-size: 17px;
							@include breakpoint(small-tablet) {
								font-size: 15px;
							}
							&:hover {
								color: $color-hover;
							}
						}
					}
					.item {
						padding: 0;
					}
				}
			}
		}
		.bottom_footer {
			padding: 1% 0;
			border-top: 1px solid $color-white;
			p {
				margin: 0;
				@include breakpoint(small-phone) {
					font-size: 12px;
				}

			}
		}
	}
}