.wrapper {
	.container {
	}
	.header {

	}
	.content {
		.wrp_ctn {
			padding: 4% 0;
			//Home
			.ctn_title {
				text-align: center;
				font-family: $font-title;
				color: $color-title;
				h2 {
					font-size: 45px;
					margin: 0;
					// margin-top: 3%;
					@include breakpoint(tablet) {
						font-size: 40px;
					}
					@include breakpoint(small-tablet) {
						font-size: 35px;
					}
					@include breakpoint(phone) {
						font-size: 30px;
					}
					@include breakpoint(mid-phone) {
						font-size: 25px;
					}
				}
				.underline {
					width: 100%;
					height: 0;
					margin: 0;
					padding-top: 4%;
					background: url(../img/underline/under3.png) no-repeat;
					background-position: center;
					background-size: 6%;
					@include breakpoint(tablet) {
						background-size: 8%;
					}
					@include breakpoint(phone) {
						background-size: 9%;
					}
				}
			}
			.ctn_products {
				margin: 5% 0;
				.item_products {
					padding: 0;
					margin-bottom: 3%;
					@include breakpoint(phone) {
						width: 33.33333333333333%;
						&:nth-child(7) {
							display: none;
						}
						&:nth-child(8) {
							display: none;
						}
					}
					@include breakpoint(mid-phone) {
						width: 50%;
						&:nth-child(5) {
							display: none;
						}
						&:nth-child(6) {
							display: none;
						}

					}
					@include breakpoint(small-phone) {
						width: 100%;
						margin-bottom: 5%;
						&:nth-child(4) {
							display: none;
						}
					}
					.wrp_item {
						margin-left: 3%;
						margin-right: 3%;
						.img_products {
							cursor: pointer;
							position: relative;
							overflow: hidden;
							.bg_img {
								width: 100%;
								height: 0;
								// background: url(../img/food/food1.jpg) no-repeat;
								background-position: center;
								background-size: cover;
								transition: .3s ease-in-out;
							}
							.view {
								background: rgba(0,0,0,0.5);
								display: none;
								position: absolute;
								top: 0;
								bottom: 0;
								right: 0;
								left: 0;
								.wrp_view {
									display: inline-block;
									border: 2px solid rgba(255, 255, 255, 0.6);
									background: $color-hover;
									padding: 3% 4%;
									transform: rotate(45deg);
									transition: .8s ease-in-out;
									width: 40px;
									height: 40px;
									margin-top: 15%;
									margin-left: 43%;
									@include breakpoint(tablet) {
										width: 35px;
	    								height: 35px;
	    								padding: 3% 5%;
									}
									@include breakpoint(small-tablet) {
										margin-left: 40%;
									}
									@include breakpoint(small-phone) {
										margin-left: 45%;
										padding: 1% 3%;
									}
								}
								a {
									display: block;
									// margin-top: 25%;
									margin-left: 0px;
									
									transform: rotate(-45deg);
								}
								i {
									color: $color-white;
									@include breakpoint(tablet) {
										font-size: 13px;
									}
								}
							}
						}
						.ctn_item {
							overflow: hidden;
							text-align: center;
							background: $color-white;
							font-family: $font-content;
							padding: 5% 3%;
							.info {
	    						h3, p, a {
		    						margin: 0;
		    						color: $color-text;
									white-space: nowrap; 
									overflow: hidden;
									text-overflow: ellipsis;
		    					}
		    					h3 {
		    						padding-bottom: 3%;
		    						font-size: 20px;
		    						font-family: $font-item;
		    						@include breakpoint(tablet) {
										font-size: 16px;
									}
									@include breakpoint(small-tablet) {
										font-size: 15px;
									}
									@include breakpoint(phone) {
										font-size: 15px;
									}
									@include breakpoint(mid-phone) {
										font-size: 13px;
									}
		    					}
		    					p {
		    						padding-bottom: 3%;
		    						@include breakpoint(tablet) {
										font-size: 13px;
									}
									@include breakpoint(small-tablet) {
										font-size: 12px;
									}
									@include breakpoint(phone) {
										font-size: 12px;
									}
									@include breakpoint(mid-phone) {
										font-size: 11px;
									}
		    					}
		    					a {
		    						&:hover {
		    							text-decoration: none;
		    							color: $color-hover;
		    						}
		    						
		    					}
		    					.address {
		    						font-size: 12px;
		    						font-family: $font-address;
		    						@include breakpoint(tablet) {
										font-size: 11px;
									}
									@include breakpoint(small-tablet) {
										font-size: 10px;
									}
									// @include breakpoint(phone) {
									// 	font-size: 10px;
									// }
									// @include breakpoint(mid-phone) {
									// 	font-size: 10px;
									// }

		    					}
		    					.price {
		    						font-size: 18px;
		    						color: $color-price;
								    font-family: $font-title-ctn;
								    @include breakpoint(tablet) {
										font-size: 15px;
									}
									@include breakpoint(phone) {
										font-size: 14px;
									}
									@include breakpoint(mid-phone) {
										font-size: 12px;
									}
		    					}
	    					}
	    					.parameter {
		    					margin-top: 5%;
		    					@include breakpoint(phone) {
									display: none;
								}
		    					a {
		    						font-size: 11px;
		    						color: $color-black;
		    						font-family: $font-para;
		    						&:hover {
		    							text-decoration: none;
		    							color: $color-hover;
		    							font-weight: bold;
		    						}
		    						@include breakpoint(small-tablet) {
		    							color: transparent;
		    							font-size: 0;
		    						}
		    					}
		    					i {
		    						color: $color-para;
		    						font-size: 11px;
    								padding-right: 5%;
		    					}
		    					div {
		    						padding: 0;
		    					}
		    				}
						}
					}
				}
			}
		}
	}
	.footer {
	}
	.modal {
		button {
			border-radius: 0;
		}
		h4 {
			text-align: center;
			font-weight: bold;
			color: $color-white;
		}
		.modal-header {
			border-bottom: none;
			button {
				color: $color-white;
			    text-shadow: 1px 2px 0 $color-black;
			    opacity: 0.8;
			}
			.modal-title {
				
			}
		}
		.modal-content {
			border-radius: 0;
			background: url('../img/background/bg7.jpg') no-repeat;
			background-position: center;
			background-size: 230%;
			
			.wrp_modal_ctn {
				background: rgba(0,0,0,0.3);
			}
			.btn-success {
				background: url('../img/button/btn4.png') no-repeat;
				background-position: center;
				background-size: 125%;
				border: transparent;
				box-shadow: 2px 3px 12px -2px $color-black;
				border-radius: 0;
				padding: 0; 
				&:hover {
					.hover_bg {
						background: rgba(255,255,255,0.2);
					}
				}
			}
			.btn {
				box-shadow: 2px 3px 12px -2px #000;
			}

		}
	}
	.input-group {
		span, input {
			border-radius: 0;
		}
	}
}