.header {
	.top_header {
		background: $color-black;
		padding: 5px 0;
		a {
			font-size: 12px;
			color: $color-white;
			font-family: $font-top-header;
			@include breakpoint(tablet) {
				font-size: 10px;
			}
		}
		@include breakpoint(small-tablet) {
			display: none;
		}
		.top_left {
			float: left;
			i {
				margin-right: 5px;
			}
			a {
				margin-right: 10px;
			}
		}
		.top_right {
			float: right;
			a {
				margin: 0 5px;
				&:hover {
					color: $color-hover;
					text-decoration: none;
				}
			}
			.social {
				float: left;
				border-right: 1px solid $color-gray-light3;

			}
			.user {
				float: left;
				.login {
				}
				.register {
					margin-right: 0;
				}
			}
		}
	}
	.menu {
		@include breakpoint(small-tablet) {
			position: fixed;
			z-index: 2;
			width: 100%;
			top: 0;
			transition: .3s ease-in-out;
		}
		.navbar_background  {
			margin: 0;
			border: transparent;
			border-top: 1px solid $color-gray-light3;
			border-radius: 0px;
			background: $color-black;
			@include breakpoint(small-tablet) {
				background: transparent;
			}
			.shortcut_menu {
				@include breakpoint(small-tablet) {
					background: $color-black;
				}
				.nav-left {
					.shortcut {
						border: none;
						width: 40px;
						height: 34px;
						&:hover {
							background: transparent;
						}
						&:focus {
							background: transparent;
						}
						@include breakpoint(small-tablet) {
							float: left;
							margin-right: 0px
						}
						.show_icon {
							.icon-bar {
								background-color: $color-white;
								@include breakpoint(small-phone) {
									width: 20px;
								}
							}
						}
						.hide_icon {
							i {
								font-size: 16px;
								color: $color-white;
							}
						}
							
					}
					.logo_header {
						padding: 0;
						margin-left: 0px;
						margin-top: 5px;
					 	margin-bottom: 5px;
					 	@include breakpoint(small-tablet) {
					 		margin: 0;
					 	}
						img {
							width: 120px;
							height: 100%;
							@include breakpoint(tablet) { 
								width: 100px;
							}
							@include breakpoint(small-phone) { 
								width: 90px;
							}
						}
					}
				}
				.nav-right {
					display: none;
					float: right;
					margin-top: 8px;
					margin-bottom: 8px;
					padding: 7px 10px;
					@include breakpoint(small-tablet) {
						display: inline-block;
					}
					.item_right {
						color: $color-white;
						padding-left: 8px;
					}
				} 
			}
			.list_menu {
				// width: 81%;

				width: 84%;
    			float: right;
    			padding: 0;
    			@include breakpoint(small-tablet) {
					float: left;
					background: $color-black;
					padding-left: 20px;
					padding-right: 20px;
					padding-bottom: 1500px;
					border: 1px solid #212324;
				}
    			a {
    				border-top: 2px solid transparent;
    				border-bottom: 2px solid transparent;
					color: $color-white;
					letter-spacing: 2px;
					font-family: $font-main-menu;
					padding-top: 20px;
    				padding-bottom: 20px;
					@include breakpoint(tablet) {
						font-size: 12px;
						letter-spacing: 0.8px;
					}
					@include breakpoint(small-tablet) {
						font-size: 14px;
						letter-spacing: 2px;
						padding-top: 10px;
						padding-bottom: 10px;
					}
					&:hover {
						transition: all .3s;
						border-top: 2px solid $color-hover;
						color: $color-hover;
						@include breakpoint(small-tablet) {
							border-top: none;
							border-bottom: 2px solid $color-hover;
						}
					}
				}
				
    			
				.item_menu {
					i {
						display: none;
						margin-right: 5px;
						@include breakpoint(small-tablet) {
							display: inline-block;
						}
					}
					.fa-search {
						display: inline-block;
					}
				}
				.item_search {
					@include breakpoint(small-tablet) {
						display: none;
					}
					i {
						margin-right: 0;
					}
				}
			}
			.act_menu {
				a {
					border-top: 2px solid $color-hover;
					
					@include breakpoint(small-tablet) { 
						border-top: 2px solid transparent !important;
						border-bottom: 2px solid $color-hover ;
					}
				}
			}
		}
	}
	
	//Scroll Menu 
	.scroll_menu {
		position: fixed;
		z-index: 2;
		width: 100%;
		top: 0;
		transition: .3s ease-in-out;
	}
}
