.rotateUpModal {
	transform: rotate(180deg);
}
.btn_complete {
	text-align: center;
	margin-top: 8%;
	@include breakpoint(mid-phone) {
	    margin-top: 4%;
	}
	.btn {
	   width: 100%;
	    .hover_bg {
	    	 padding: 2% 0;
	    }
		
	}
}
.modal {
    overflow-y: auto !important;
}
#modal_login {
		h4 {}
		.modal-dialog {
			width: 400px;
			@include breakpoint(small-tablet) {
				width: auto;
			    margin: 10px 20%;
			}
			@include breakpoint(phone) {
			    margin: 10px 10%;
			}
			@include breakpoint(mid-phone) {
			   margin: 10px 3%;
			}
		}
		.modal-content {
			@include breakpoint(mid-phone) {
				background-size: 285%;
			}
			@include breakpoint(small-phone) {
			    background-size: 380%;
			}
			a, input, label {
				font-size: 14px !important;
				@include breakpoint (mid-phone) {
					font-size: 13px !important;
				}
				@include breakpoint (small-phone) {
					font-size: 12px !important;
				}
			}
			.modal-header {
				.modal-title {}
			}
			.modal-body {
				.input-group {
					padding-bottom: 20px;
				}
				.other {

					.checkbox {
						margin-top: 5px;
						margin-bottom: 5px;
						@include breakpoint(mid-phone) {
							width: 50%;
							float: left;
						}
					}
					.custom {
						padding: 0;
						@include breakpoint(mid-phone) { 
							width: 100%;
						}
						a, label {
							color: $color-white !important;
							font-family: $font-content !important;
							
						}
						.link_other {
							@include breakpoint(mid-phone) {
								width: 50%;
								float: left;
								text-align: right;
								.register {
									display: none;
								}
							}
							a {
								display: block;
								margin: 0;
								padding: 5px 0;
							}
						}
					}
					.btn_login {
						padding: 0;
						text-align: right;
						@include breakpoint(mid-phone) { 
							width: 100%;
							margin-top: 4%;
						}
						.btn {
							width: 70%;
							@include breakpoint(mid-phone) {
								width: 100%;
							}
							.hover_bg {
								padding: 6% 11%;
								font-size: 16px;
								@include breakpoint(mid-phone) {
									padding: 2% 0;
								}
							}
						}
					}
				}
			}
			.modal-footer {
				margin: 0;
				h4 {
					margin: 0;
				}
				.social_login {
					text-align: left;
					padding-top: 15px;
					.item {
						padding: 0;
						.wrp {
							padding: 0 5%;
							button {
								width: 100%;
								color: $color-white;
								@include breakpoint (mid-phone) {
									color: transparent;
									font-size: 0px;
									padding: 7% 0;
								}
								i {
									padding-right: 5%;
									@include breakpoint (mid-phone) { 
										color: $color-white;
										font-size: 13px;
									}
								}
							}
							.fb{
								background: $color-facebook;
								&:hover {
									background: $color-hover-fb;
								}
							}
							.tw{
								background: $color-twitter;
								&:hover {
									background: $color-hover-tw;
								}
							}
							.gg {
								background: $color-google-plus;
								&:hover {
									background: $color-hover-gg;
								}
							}
						}
					}
				}
				.register {
						margin-top: 10%;
						text-align: center;
						display: none;
						@include breakpoint(mid-phone) {
							display: block;
						}
					a {
						color: $color-hover;
					    font-family: $font-register;
					   
					}
				}
			}
		}
}
#modal_register {
	.modal-dialog {
		// width: 400px;
	}
	.modal-header {
		.modal-title {}
	}
	.modal-content {
		@include breakpoint(mid-phone) {
			background-size: 280%;
		}
		@include breakpoint(small-phone) {
			background-size: 360%
		}
		.modal-body {
			.input-group {
				padding-bottom: 3%;
			}
			.sign_up {
				padding-top: 4%;
				.hover_bg {
					font-size: 17px;
					padding: 6px 25px;
				}
			}
		}
	}
}
#modal_search {
	.modal-dialog {}
	.modal-content {
		@include breakpoint(mid-phone) {
			background-size: 294%;
		}
		@include breakpoint(small-phone) {
			background-size: 510%;
		}
		.modal-body {
			.title {

				i {
					float: right;
					transition: all 0.5s;
				}
				a {
					display: block;
				    font-size: 16px;
				    text-decoration: none;
				    font-weight: bold;
				    color: $color-moss;
				    @include breakpoint(mid-phone) {
				    	font-size: 15px;
				    }
				    @include breakpoint(mid-phone) {
				    	font-size: 14px;
				    }
				}
			}
			.item_search {
				// background: #f5f5f5;
				background: rgba(255,255,255,0.6);
			    padding: 3% 2%;;
			    // border: 1px solid #c1c1c1;
			    border: 1px solid rgba(255, 255, 255, 0.2);
			    h5 {
			    	margin: 0;
			    }
			    .form-group {
			    	padding-top: 2%;
			    	margin: 0;
			    	.form-control {
			    		border-radius: 0;
			    		border: 1px solid $color-white;
			    	}
			    }
			}
			.fast_search {
				border-bottom: 1px solid $color-white;
			}
			.around {
				border-top: 1px solid rgba(0, 0, 0, 0.21);
			}
			.btn_search {
				text-align: center;
				padding-top: 5%;
				.btn {
				    width: 100%;
					.hover_bg {
						 padding: 2% 0;
						 font-size: 17px;
					}
				}
			}
			
		}
	}
}
//Modal detail
.modal_detail {
	.modal-title {
		color: $color-hover !important;
	}
	.modal-content  {
		background: $color-white !important;
		.wrp_modal_ctn {
			background: transparent !important;
			.modal-header {
				button {
					color: $color-hover !important;
				}
			}
			.modal-body {
				
			}
		}
	}
}
#modal_rating {
	
	.item_rate {
		h4 {
			display: inline-block;	
			// text-align: left;
			font-size: 15px;
			color: black;
			@include breakpoint(mid-phone) {
			   font-size: 14px;
			}
			@include breakpoint(small-phone) {
			   font-size: 13px;
			}
		}
		.icon_rate {
			// width: 100%;
		}

	}
	.rate1 {
		font-size: 35px;
		@include breakpoint(phone) {
			font-size: 30px;
		}
		@include breakpoint(mid-phone) {
		   font-size: 28px;
		}
		@include breakpoint(small-phone) {
		   font-size: 26px;
		}
		.rate-hover-layer {
			color: pink;
		}
		.rate-select-layer {
			 color: #f55b35;
		}
	}
	.modal-dialog {
		width: 350px;
		@include breakpoint(small-tablet) {
			width: auto;
			margin: 10px 20%;
		}
		@include breakpoint(mid-phone) {
			margin: 10px 6%;
		}
		.modal-content  {
			background: $color-white;
			.wrp_modal_ctn {
				background: transparent;
				.modal-header {
					button {
						color: $color-black;
					}
				}
				.modal-body {
					
				}
			}
		}
	}
}
#modal_cmt {
	label, a {
		color: $color-black;
	}
	.modal-body {
		.item_post {
		    margin-bottom: 4%;
			label {
				margin-bottom: 1%;
			}
		}
		.post_cmt {
			input, textarea {
				border-radius: 0;
			}
			.title_cmt {
				
			}
			.ctn_cmt {}
		}
		.upload {
			.item_up {
				padding: 0;
				// text-align: center;
				i {
					padding-right: 5%;
				}
			}
			.up_img {
				display: none;
			}
			.up_video {
				display: none;
			}
			.btn_complete {
				// padding: 0;
				margin-top: 2%;
				.hover_bg {
				    padding: 3% 0;
				}
			}
		}
	}
}