.news {
	background: url('../img/background/bg8.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	.wrp_ctn {
		
		.ctn_title {}
		.ctn_news {
			.item_news {
				height: 410px;
				@include breakpoint(small-desktop) {
					height: 372px;
				}
				@include breakpoint(tablet) {
					height: 310px;
				}
				@include breakpoint(small-tablet) {
					height: 260px;
				}
				@include breakpoint(phone) {
					height: 256px;
				}
				@include breakpoint(mid-phone) {
					height: 215px;
				}
				@include breakpoint(small-phone) {
					height: 222px;
				}
				.wrp_item {
					.img_news {
						box-shadow: 3px 2px 7px 0px;
						&:hover {
							.bg_img {
								transform: scale(1.2);
							}
							.view {
								display: block;
								
							}
						}
						.bg_img {
							padding-top: 125%;
							@include breakpoint(mid-phone) {
								padding-top: 100%;
							}
							@include breakpoint(small-phone) {
								padding-top: 55%;
							}
						}
					}
					.ctn_item {
						height: 180px;
						position: absolute;
						top: 55%;
						right: 5%;
						left: 5%;
						width: 90%;
						border: 5px solid $color-title;
						box-shadow: 0px 0px 10px 1px;
						@include breakpoint(small-desktop) {
							top: 55%;
							height: 165px;
						}
						@include breakpoint(tablet) {
							top: 50%;
							height: 150px;
						}
						@include breakpoint(small-tablet) {
							top: 45%;
							height: 140px;
							border: 4px solid $color-title;
						}
						@include breakpoint(phone) {
							top: 54%;
							height: 115px;
							border: 4px solid $color-title;
						}
						@include breakpoint(mid-phone) {
							top: 55%;
							height: 105px;
							border: 4px solid $color-title;
							top: 50%;
						}
						@include breakpoint(small-phone) {
							height: 109px;
    						top: 50%;
    						padding: 3%;
						}
					}
					
				}
			}
			.item1 {
				.bg_img {
					background: url(../img/food/food1.jpg) no-repeat !important;
					background-position: center !important;
					background-size: cover !important;
				}
			}
			.item2 {
				.bg_img {
					background: url(../img/food/food7.jpg) no-repeat !important;
					background-position: center !important;
					background-size: cover !important;
				}
			}
			.item3 {
				.bg_img { 
					background: url(../img/food/food3.jpg) no-repeat !important;
					background-position: center !important;
					background-size: cover !important;
				}
			}
			.item4 {
				.bg_img {
					background: url(../img/food/food5.jpg) no-repeat !important;
					background-position: right !important;
					background-size: cover !important;
				}
			}
		}
	}
}