.rest {
	background: url('../img/background/bg10.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	.ctn_rest {
		.item_rest {
			&:hover {
				.wrp_item {
					border: 2px solid $color-hover;
					transition: .3s ease-in-out;
					@include breakpoint(small-tablet) {
						border: none;
					}
					.bg_img {
						transform: scale(1.2);
					}
					.view {
						display: block !important;
					}
				}
				
			}
			.wrp_item {
				margin: 0 !important;
				padding: 4%;
				border: 2px solid transparent;
				@include breakpoint(small-tablet) {
					border: none;
				}
				.img_rest {
					.bg_img {
						padding-top: 90%;
						
					}
					.view {
						
					}
				}
			}
		}
		.item1 {
			.bg_img {
				
				background-position: right !important;
				background-size: cover !important;
			}
		}
		.item2 {
			.bg_img {
				background: url(../img/restaurant/res2.jpg) no-repeat !important;
				background-position: right !important;
				background-size: cover !important;
			}
		}
		.item3 {
			.bg_img {
				background: url(../img/restaurant/res3.jpg) no-repeat !important;
				background-position: right !important;
				background-size: cover !important;
			}
		}
		.item4 {
			.bg_img {
				background: url(../img/restaurant/res4.jpg) no-repeat !important;
				background-position: right !important;
				background-size: cover !important;
			}
		}
	}
}