.statistics {
	background: url('../img/background/bg9.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	.wrp_ctn {
		background: rgba(0,0,0,0.5);
		.ctn_stt {
			.item_stt {
				text-align: center;
				padding: 0;
				padding-right: 3%;
				@include breakpoint(small-tablet) {
					width: 50%;
				    padding-right: 15%;
				    padding-bottom: 5%;
				}
				@include breakpoint(phone) {
					width: 50%;
				    padding-right: 10%
				}
				@include breakpoint(mid-phone) {
					width: 100%;
				    padding-right: 0;
				    
				}
				div {
					padding: 0;
					
				}
				i {
					font-size: 70px;
					color: $color-hover;
					@include breakpoint(small-desktop) {
						font-size: 63px;
					}
					@include breakpoint(tablet) {
						font-size: 52px;
						padding-bottom: 3%;
					}
					@include breakpoint(phone) {
						font-size: 48px;
					}
				}
				p {
					font-size: 18px;
					font-family: $font-stt;
					@include breakpoint(small-desktop) {
						font-size: 15px;
					}
					@include breakpoint(small-desktop) {
						font-size: 13px;
					}
					@include breakpoint(phone) {
						text-align: left;
					}
				}
				.number {
					font-family: $font-title-ctn;
					font-size: 30px;
					@include breakpoint(small-desktop) {
						font-size: 25px;
					}
					@include breakpoint(phone) {
						font-size: 22px;
					}
				}
			}
		}
	}
}