<div ng-controller="restCtrl">
	 <!--Restaurants-->
	<div id="rest" class="rest ">
	    <div class="wrp_ctn container">
	      <div class="ctn_title">
	        <h2>Restaurants</h2>
	        <p class="underline"></p>
	      </div>
	      <div class="ctn_rest ctn_products">
	        <div class="item_rest item_products item1 col-md-3 col-xs-3" ng-repeat="rest in restaurants"> 
	          <div class="wrp_item">
	            <div class="img_rest img_products">  
	              <div class="bg_img" ng-style="{'background-image': 'url(' + local + rest.logo + ')'}"></div>
	              <div class="view">
	                <div class="wrp_view animated fadeIn">
	                  <a href=""><i class="fa fa-eye"></i></a>
	                </div>
	              </div>
	            </div>
	            <div class="ctn_item">
	              <div class="info">
	                <h3><a ui-sref="detail_restaurants({id : rest.member_id})">{{rest.name}}</a></h3>
	                <p class="address">{{rest.address}}</p>

	              </div>
	              <div class="parameter">
	                <div class="col-md-4 col-xs-4">
	                  <a href=""><i class="fa fa-heart"></i>{{rest.likeds}}</a>
	                </div>
	                <div class="col-md-4 col-xs-4">
	                  <a href=""><i class="fa fa-comment"></i>{{rest.comments}}</a>
	                </div>
	                <div class="col-md-4 col-xs-4">
	                  <a href=""><i class="fa fa-bookmark"></i>{{rest.saveds}}</a>
	                </div>
	                <div class="clearfix"></div>
	              </div>
	            </div>
	          </div>
	        </div>
	       <!--  <div class="item_rest item_products item2 col-md-3 col-xs-3"> 
	          <div class="wrp_item">
	            <div class="img_rest img_products">  
	              <div class="bg_img"></div>
	              <div class="view">
	                <div class="wrp_view animated fadeIn">
	                  <a href=""><i class="fa fa-eye"></i></a>
	                </div>
	              </div>
	            </div>
	            <div class="ctn_item">
	              <div class="info">
	                <h3><a href="">Highlands Coffee</a></h3>
	                <p class="address">74 Bạch Đằng, Quận Hải Châu, Đà Nẵng</p>
	              </div>
	              <div class="parameter">
	                <div class="col-md-4 col-xs-4">
	                  <a href=""><i class="fa fa-heart"></i> 20</a>
	                </div>
	                <div class="col-md-4 col-xs-4">
	                  <a href=""><i class="fa fa-comment"></i> 100</a>
	                </div>
	                <div class="col-md-4 col-xs-4">
	                  <a href=""><i class="fa fa-bookmark"></i> 50</a>
	                </div>
	                <div class="clearfix"></div>
	              </div>
	            </div>
	          </div>
	        </div>
	        <div class="item_rest item_products item3 col-md-3 col-xs-3"> 
	          <div class="wrp_item">
	            <div class="img_rest img_products">  
	              <div class="bg_img"></div>
	              <div class="view">
	                <div class="wrp_view animated fadeIn">
	                  <a href=""><i class="fa fa-eye"></i></a>
	                </div>
	              </div>
	            </div>
	            <div class="ctn_item">
	              <div class="info">
	                <h3><a href="">KoKo Green Kafe</a></h3>
	                <p class="address">74 Bạch Đằng, Quận Hải Châu, Đà Nẵng</p>
	              </div>
	              <div class="parameter">
	                <div class="col-md-4 col-xs-4">
	                  <a href=""><i class="fa fa-heart"></i> 20</a>
	                </div>
	                <div class="col-md-4 col-xs-4">
	                  <a href=""><i class="fa fa-comment"></i> 100</a>
	                </div>
	                <div class="col-md-4 col-xs-4">
	                  <a href=""><i class="fa fa-bookmark"></i> 50</a>
	                </div>
	                <div class="clearfix"></div>
	              </div>
	            </div>
	          </div>
	        </div>
	        <div class="item_rest item_products item4 col-md-3 col-xs-3"> 
	          <div class="wrp_item">
	            <div class="img_rest img_products">  
	              <div class="bg_img"></div>
	              <div class="view">
	                <div class="wrp_view animated fadeIn">
	                  <a href=""><i class="fa fa-eye"></i></a>
	                </div>
	              </div>
	            </div>
	            <div class="ctn_item">
	              <div class="info">
	                <h3><a href="">Dasushi</a></h3>
	                <p class="address">74 Bạch Đằng, Quận Hải Châu, Đà Nẵng</p>
	              </div>
	              <div class="parameter">
	                <div class="col-md-4 col-xs-4">
	                  <a href=""><i class="fa fa-heart"></i> 20</a>
	                </div>
	                <div class="col-md-4 col-xs-4">
	                  <a href=""><i class="fa fa-comment"></i> 100</a>
	                </div>
	                <div class="col-md-4 col-xs-4">
	                  <a href=""><i class="fa fa-bookmark"></i> 50</a>
	                </div>
	                <div class="clearfix"></div>
	              </div>
	            </div>
	          </div>
	        </div>
	        <div class="item_rest item_products item1 col-md-3 col-xs-3"> 
	          <div class="wrp_item">
	            <div class="img_rest img_products">  
	              <div class="bg_img"></div>
	              <div class="view">
	                <div class="wrp_view animated fadeIn">
	                  <a href=""><i class="fa fa-eye"></i></a>
	                </div>
	              </div>
	            </div>
	            <div class="ctn_item">
	              <div class="info">
	                <h3><a href="">Galaxy Coffee</a></h3>
	                <p class="address">74 Bạch Đằng, Quận Hải Châu, Đà Nẵng</p>

	              </div>
	              <div class="parameter">
	                <div class="col-md-4 col-xs-4">
	                  <a href=""><i class="fa fa-heart"></i> 20</a>
	                </div>
	                <div class="col-md-4 col-xs-4">
	                  <a href=""><i class="fa fa-comment"></i> 100</a>
	                </div>
	                <div class="col-md-4 col-xs-4">
	                  <a href=""><i class="fa fa-bookmark"></i> 50</a>
	                </div>
	                <div class="clearfix"></div>
	              </div>
	            </div>
	          </div>
	        </div>
	        <div class="item_rest item_products item2 col-md-3 col-xs-3"> 
	          <div class="wrp_item">
	            <div class="img_rest img_products">  
	              <div class="bg_img"></div>
	              <div class="view">
	                <div class="wrp_view animated fadeIn">
	                  <a href=""><i class="fa fa-eye"></i></a>
	                </div>
	              </div>
	            </div>
	            <div class="ctn_item">
	              <div class="info">
	                <h3><a href="">Highlands Coffee</a></h3>
	                <p class="address">74 Bạch Đằng, Quận Hải Châu, Đà Nẵng</p>
	              </div>
	              <div class="parameter">
	                <div class="col-md-4 col-xs-4">
	                  <a href=""><i class="fa fa-heart"></i> 20</a>
	                </div>
	                <div class="col-md-4 col-xs-4">
	                  <a href=""><i class="fa fa-comment"></i> 100</a>
	                </div>
	                <div class="col-md-4 col-xs-4">
	                  <a href=""><i class="fa fa-bookmark"></i> 50</a>
	                </div>
	                <div class="clearfix"></div>
	              </div>
	            </div>
	          </div>
	        </div>
	        <div class="item_rest item_products item3 col-md-3 col-xs-3"> 
	          <div class="wrp_item">
	            <div class="img_rest img_products">  
	              <div class="bg_img"></div>
	              <div class="view">
	                <div class="wrp_view animated fadeIn">
	                  <a href=""><i class="fa fa-eye"></i></a>
	                </div>
	              </div>
	            </div>
	            <div class="ctn_item">
	              <div class="info">
	                <h3><a href="">KoKo Green Kafe</a></h3>
	                <p class="address">74 Bạch Đằng, Quận Hải Châu, Đà Nẵng</p>
	              </div>
	              <div class="parameter">
	                <div class="col-md-4 col-xs-4">
	                  <a href=""><i class="fa fa-heart"></i> 20</a>
	                </div>
	                <div class="col-md-4 col-xs-4">
	                  <a href=""><i class="fa fa-comment"></i> 100</a>
	                </div>
	                <div class="col-md-4 col-xs-4">
	                  <a href=""><i class="fa fa-bookmark"></i> 50</a>
	                </div>
	                <div class="clearfix"></div>
	              </div>
	            </div>
	          </div>
	        </div>
	        <div class="item_rest item_products item4 col-md-3 col-xs-3"> 
	          <div class="wrp_item">
	            <div class="img_rest img_products">  
	              <div class="bg_img"></div>
	              <div class="view">
	                <div class="wrp_view animated fadeIn">
	                  <a href=""><i class="fa fa-eye"></i></a>
	                </div>
	              </div>
	            </div>
	            <div class="ctn_item">
	              <div class="info">
	                <h3><a href="">Dasushi</a></h3>
	                <p class="address">74 Bạch Đằng, Quận Hải Châu, Đà Nẵng</p>
	              </div>
	              <div class="parameter">
	                <div class="col-md-4 col-xs-4">
	                  <a href=""><i class="fa fa-heart"></i> 20</a>
	                </div>
	                <div class="col-md-4 col-xs-4">
	                  <a href=""><i class="fa fa-comment"></i> 100</a>
	                </div>
	                <div class="col-md-4 col-xs-4">
	                  <a href=""><i class="fa fa-bookmark"></i> 50</a>
	                </div>
	                <div class="clearfix"></div>
	              </div>
	            </div>
	          </div>
	        </div> -->
	        <div class="clearfix"></div>
	      </div>
	    </div>
	</div>
</div>