<div class="slide_home" ng-controller="slideHomeCtrl">
  <div class="regular slider">
    <div class="wrp_item_slide">
      <img src="assets/img/slide_banner/hd1.jpg">
      <div class="bg">
        <div class="text ">
          <h2>Food 1</h2>
        </div>
      </div>
    </div> 
    <div class="wrp_item_slide">
      <img src="assets/img/slide_banner/hd2.jpg">
      <div class="bg">
        <div class="text ">
          <h2>Coffe 1</h2>
        </div>
      </div>
    </div>
    <div class="wrp_item_slide">
      <img src="assets/img/slide_banner/hd3.jpg">
      <div class="bg">
        <div class="text ">
          <h2>Food 2</h2>
        </div>
      </div>
    </div>
    <div class="wrp_item_slide">
      <img src="assets/img/slide_banner/hd4.jpg">
      <div class="bg">
        <div class="text ">
          <h2>Coffe 2</h2>
        </div>
      </div>
    </div>  
  </div>
</div>