<div>
	 <!-- Modal Comment-->
  	<div id="modal_cmt" class="modal fade modal_detail" role="dialog">
	    <div class="modal-dialog">
	      <!-- Modal content-->
	      <div class="modal-content content">
	        <div class="wrp_modal_ctn">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal">&times;</button>
	            <h4 class="modal-title">Bình luận</h4>
	          </div>

	          <div class="modal-body">
	            <form class="post_cmt">
				  <div class="form-group title_cmt item_post">
				    <label for="title">Tiêu đề: </label>
				    <input type="title" class="form-control" id="title">
				  </div>
				  <div class="form-group ctn_cmt item_post">
				    <label for="ctn">Nội dung: </label>
				   <textarea name="" id="ctn" class="form-control" rows="3" required="required">
				   	
				   </textarea>
				  </div>
				</form>
				<div class="upload">
					<div class="up_img item_up col-md-4">
						<a href=""><i class="fa fa-camera"></i>Hình ảnh</a>
					</div>
					<div class="up_video item_up col-md-4">
						<a href=""><i class="fa fa-video-camera"></i>Video</a>
					</div>
					<div class="btn_complete item_up col-md-4 col-xs-4">
	                  <div class="btn btn-success">
	                    <div class="hover_bg">Hoàn tất</div>
	                  </div>   
	                </div>
	                <div class="clearfix"></div>
				</div>
		            
	          </div>
	        </div>
	      </div>
	    </div>
  	</div>
</div>