<div class="wrp_blur">
	<div class="features item_detail">
		<div class="wrp">
			<div class="title">
				<h2>Features</h2>
			</div>
			<div class="ctn_features">
			   	<div class="item_ctn col-md-3 col-xs-3">
			   		<div class="title_item">
			   			<h4>Impress your friends</h4s>
			   		</div>
			   		<div class="content">
			   			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,dolore magna aliqua. Ut enim ad minim veniam.</p>
			   		</div>
			   	</div>
			   	<div class="item_ctn col-md-3 col-xs-3">
			   		<div class="title_item">
			   			<h4>Impress your friends</h4s>
			   		</div>
			   		<div class="content">
			   			<p>Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Irure dolor in reprehenderit in voluptate velit esse !</p>
			   		</div>
			   	</div>
			   	<div class="item_ctn col-md-3 col-xs-3">
			   		<div class="title_item">
			   			<h4>Impress your friends</h4s>
			   		</div>
			   		<div class="content">
			   			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam reprehenderit in voluptate velit esse cillum dolore!</p>
			   		</div>
			   	</div>
			    <div class="item_ctn col-md-3 col-xs-3">
			   		<div class="title_item">
			   			<h4>Impress your friends</h4s>
			   		</div>
			   		<div class="content">
			   			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam reprehenderit</p>
			   		</div>
			   	</div>
			   <div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>