<div ng-controller="menuCtrl">
	<div class="top_header">
		<div class="container">
	      <div class="top_left">
	        <a href="" class="email"><i class="fa fa-envelope"></i>Email: mguahga12345@gmail.com</a>
	        <a href="" class="phone"><i class="fa fa-phone"></i>Phone: +1282143365</a>
	      </div>
	      <div class="top_right">
	        <div class="social">
	          <a href="" class="fb"><i class="fa fa-facebook"></i></a>
	          <a href="" class="fb"><i class="fa fa-twitter"></i></a>
	          <a href="" class="fb"><i class="fa fa-dribbble"></i></a>
	          <a href="" class="fb"><i class="fa fa-behance"></i></a>
	        </div>
	        <div class="user">
	          <a href="" class="login" data-toggle="modal" data-target="#modal_login">Login</a>
	          <a href="" class="register" data-toggle="modal" data-target="#modal_register">Register</a>
	        </div>
	        <div class="clearfix"></div>
	      </div>
	      <div class="clearfix"></div>
		</div>
	</div>
  	<div class="menu">
	    <nav class="navbar navbar-default navbar_background " role="navigation">
	      <div class="container ">
	        <!--Menu header-->
	        <div class="navbar-header shortcut_menu">
	          <div class="nav-left">
	            <button type="button" class="navbar-toggle shortcut" data-toggle="collapse" data-target=".navbar-ex1-collapse2">
	             <div class="show_icon">
	                <span class="sr-only">Toggle navigation</span>
	               <span class="icon-bar top-bar"></span>
	               <span class="icon-bar middle-bar"></span>
	               <span class="icon-bar bottom-bar"></span>
	             </div>
	              <div class="hide_icon">
	                <i class="fa fa-times"></i>
	              </div>
	            </button>
	            <a class="logo_header navbar-brand" href="#"><img src="assets/img/logo/logo2.png" alt=""></a>
	          </div>
	          <div class="nav-right">
	            <a href="" class="search item_right" data-toggle="modal" data-target="#modal_search"><i class="fa fa-search"></i></a>
	            <a href="" class="login item_right" data-toggle="modal" data-target="#modal_login"><i class="fa fa-sign-in"></i></a>
	          </div>
	          <div class="clearfix"></div>
	        </div>
	        <!--Main menu-->
	        <div class="list_menu collapse navbar-collapse navbar-ex1-collapse2">
	          <ul class="nav navbar-nav navbar-right">
	            <li class="item_menu act_menu" "><a ui-sref="home"><i class="fa fa-home"></i>Home</a></li>
	            <li class="item_menu"><a href="#news"><i class="fa fa-list-alt"></i>News</a></li>
	            <li class="item_menu"><a href="#rest"><i class="fa fa-briefcase"></i>Restaurants</a></li>
	             <li class="item_menu "><a href="#about"><i class="fa fa-users"></i>About Us</a></li>
	            <li class="item_menu "><a href="#stt"><i class="fa fa-bar-chart"></i> Statistics</a></li>
	           
	            <li class="item_menu fun"><a href="#contact"><i class="fa fa-pencil-square-o"></i>Contact</a></li>
	            <!-- <li class="item_menu"><a href=""><i class="fa fa-comment"></i>Contact</a></li> -->
	            <li class="item_menu item_search"><a href="" data-toggle="modal" data-target="#modal_search"><i class="fa fa-search"></i></a></li>
	          </ul>
	        </div>
	      </div>
	    </nav>
  	</div>
</div>