<div class="albums item_detail">
	<div class="wrp container">
		<div class="title">
			<h2>Albums</h2>
		</div>
		<div class="img_albums">
			<div class="item video col-md-3 col-xs-3">
				<div class="wrp_item">
					<div class="img">
						<div class="bg">
							<div class="upload">
								<a ui-sref="detail_restaurants.albums({name: 'video'})"><i class="fa fa-plus"></i>Tải video</a>
							</div>
						</div>
					</div>
					<div class="text">
						<h5 class="title_album" ui-sref="detail_restaurants.albums({name: 'video'})">Video</h5>
						<p class="num">0 Video</p>
					</div>
				</div>
			</div>
			<div class="item food col-md-3 col-xs-3">
				<div class="wrp_item">
					<div class="img">
						<div class="bg" ui-sref="detail_restaurants.albums({name: 'food'})">
							<div class="upload">
								<a ui-sref="detail_restaurants.albums({name: 'food'})"><i class="fa fa-plus"></i>Tải ảnh</a>
							</div>
						</div>
					</div>
					<div class="text">
						<h5 class="title_album" ui-sref="detail_restaurants.albums({name: 'food'})">Món ăn</h5>
						<p class="num">0 Ảnh</p>
					</div>
				</div>
			</div>
			<div class="item space col-md-3 col-xs-3">
				<div class="wrp_item">
					<div class="img">
						<div class="bg">
							<div class="upload">
								<a ui-sref="detail_restaurants.albums({name: 'space'})"><i class="fa fa-plus"></i>Tải ảnh</a>
							</div>
						</div>
					</div>
					<div class="text">
						<h5 class="title_album" ui-sref="detail_restaurants.albums({name: 'space'})">Không gian</h5>
						<p class="num">0 Ảnh</p>
					</div>
				</div>
			</div>
			<div class="item menu col-md-3 col-xs-3">
				<div class="wrp_item">
					<div class="img">
						<div class="bg">
							<div class="upload">
								<a ui-sref="detail_restaurants.albums({name: 'menu'})"><i class="fa fa-plus"></i>Tải ảnh</a>
							</div>
						</div>
					</div>
					<div class="text">
						<h5 class="title_album" ui-sref="detail_restaurants.albums({name: 'menu'})">Bảng giá</h5>
						<p class="num">0 Ảnh</p>
					</div>
				</div>
			</div>
			<div class="item service col-md-3 col-xs-3">
				<div class="wrp_item">
					<div class="img">
						<div class="bg">
							<div class="upload">
								<a ui-sref="detail_restaurants.albums({name: 'service'})"><i class="fa fa-plus"></i>Tải ảnh</a>
							</div>
						</div>
					</div>
					<div class="text">
						<h5 class="title_album" ui-sref="detail_restaurants.albums({name: 'service'})">Dịch vụ</h5>
						<p class="num">0 Ảnh</p>
					</div>
				</div>
			</div>
			<div class="item general col-md-3 col-xs-3">
				<div class="wrp_item">
					<div class="img">
						<div class="bg">
							<div class="upload">
								<a ui-sref="detail_restaurants.albums({name: 'general'})"><i class="fa fa-plus"></i>Tải ảnh</a>
							</div>
						</div>
					</div>
					<div class="text">
						<h5 class="title_album" ui-sref="detail_restaurants.albums({name: 'general'})">Tổng hợp</h5>
						<p class="num">0 Ảnh</p>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>    
	</div>
</div>ng-app="string"