<div class="albums item_detail" ng-controller="albumsCtrl">
	<div class="wrp container">
		<div class="title">
			<h2>Menu</h2>
		</div>
		<div class="img_albums">
			<div class="item video col-md-3 col-xs-3" ng-repeat="item in menu">
				<div class="wrp_item">
					<div class="img">
						<div class="bg"></div>
					</div>
					<div class="text">
						<h5 class="title_album">{{item.name}}</h5>
						<p class="num">{{item.price}}</p>
					</div>
				</div>
			</div>
			<!-- <div class="item food col-md-3 col-xs-3">
				<div class="wrp_item">
					<div class="img">
						<div class="bg"></div>
					</div>
					<div class="text">
						<h5 class="title_album">Món 1</h5>
						<p class="num">20.000</p>
					</div>
				</div>
			</div>
			<div class="item space col-md-3 col-xs-3">
				<div class="wrp_item">
					<div class="img">
						<div class="bg"></div>
					</div>
					<div class="text">
						<h5 class="title_album">Món 1</h5>
						<p class="num">20.000</p>
					</div>
				</div>
			</div>
			<div class="item menu col-md-3 col-xs-3">
				<div class="wrp_item">
					<div class="img">
						<div class="bg"></div>
					</div>
					<div class="text">
						<h5 class="title_album">Món 1</h5>
						<p class="num">20.000</p>
					</div>
				</div>
			</div>
			<div class="item service col-md-3 col-xs-3">
				<div class="wrp_item">
					<div class="img">
						<div class="bg"></div>
					</div>
					<div class="text">
						<h5 class="title_album">Món 1</h5>
						<p class="num">20.000</p>
					</div>
				</div>
			</div>
			<div class="item general col-md-3 col-xs-3">
				<div class="wrp_item">
					<div class="img">
						<div class="bg"></div>
					</div>
					<div class="text">
						<h5 class="title_album">Món 1</h5>
						<p class="num">20.000</p>
					</div>
				</div>
			</div> -->
			<div class="clearfix"></div>
		</div>    
	</div>
</div>