<div ng-controller="modalSearchCtrl">
	<!-- Modal Search-->
  	<div id="modal_search" class="modal fade" role="dialog">
	    <div class="modal-dialog">
	      <!-- Modal content-->
	      <div class="modal-content content">
	        <div class="wrp_modal_ctn">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal">&times;</button>
	            <h4 class="modal-title">Search</h4>
	          </div>

	          <div class="modal-body">
	            <!--Tìm nhanh-->
	            <div class="fast_search item_search">
	              <div class="title">
	                <h5><a data-toggle="collapse" href="#collapse1">Tìm nhanh <i class="fa fa-sort-desc"></i></a></h4>
	              </div>
	              <div id="collapse1" class="collapse">
	                <div class="form-group address">
	                  <input type="text" class="form-control" placeholder="Nhập địa chỉ">
	                </div>
	                <div class="form-group ">
	                  <input type="text" class="form-control" placeholder="Nhà hàng/ Quán ăn/ Quán coffee/...">
	                </div>
	              </div>
	            </div>
	            <!--Tìm kiếm quanh đây-->
	            <div class="around item_search">
	              <div class="title">
	                <h5><a data-toggle="collapse" href="#collapse2">Quanh đây <i class="fa fa-sort-desc"></i></a></h4>
	              </div>
	              <div id="collapse2" class="collapse">
	                <div class="form-group address">
	                  <input type="text" class="form-control" placeholder="Nhập địa chỉ">
	                </div>
	                <div class="form-group ">
	                  <input type="text" class="form-control" placeholder="Nhà hàng/ Quán ăn/ Quán coffee/...">
	                </div>
	              </div>
	            </div>
	            <div class="btn_search">
	              <div class="btn btn-success">
	                <div class="hover_bg">Tìm</div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
  	</div>
</div>