<div>
	<!--Modal Login-->
	<div ng-include="'app/components/common/modal/modal_login/modal_login.html'"></div>
	<!--Modal Login-->
	<div ng-include="'app/components/common/modal/modal_register/modal_register.html'"></div>
	<!--Modal Login-->
	<div ng-include="'app/components/common/modal/modal_search/modal_search.html'"></div>
	<!--Modal Rating-->
	<div ng-include="'app/components/common/modal/modal_rating/modal_rating.html'"></div>
	<div ng-include="'app/components/common/modal/modal_cmt/modal_cmt.html'"></div>
</div>