<div ng-controller="modalLoginCtrl">
	<!-- Modal Login-->
	<div id="modal_login" class="modal fade" role="dialog">
	    <div class="modal-dialog">
	      <!-- Modal content-->
	      
	        <div class="modal-content content">
	          <div class="wrp_modal_ctn">
	            <div class="modal-header">
	              <button type="button" class="close" data-dismiss="modal">&times;</button>
	              <h4 class="modal-title">Login</h4>
	            </div>

	            <div class="modal-body">
	              <div class="input-group username">
	                <span class="input-group-addon" id="username"><i class="fa fa-user"></i></span>
	                <input type="text" class="form-control" placeholder="Tên tài khoản" aria-describedby="username">
	              </div>
	              <div class="input-group password">
	                <span class="input-group-addon" id="pass"><i class="fa fa-key"></i></span>
	                <input type="password" class="form-control" placeholder="Mật khẩu" aria-describedby="pass">
	              </div>
	              <div class="other">
	                <div class="custom col-md-6 col-xs-6">
	                  <div class="checkbox">
	                    <label><input type="checkbox" value="">Remember me</label>
	                  </div>
	                  <div class="link_other">
	                    <a href="">Quên mật khẩu</a>
	                    <a href="" class="register" data-toggle="modal" data-target="#modal_register"
	                    data-dismiss="modal">Đăng ký</a>
	                  </div>
	                </div>
	                <div class="btn_login col-md-6 col-xs-6">
	                  <div class="btn btn-success">
	                    <div class="hover_bg">Đăng nhập</div>
	                  </div>   
	                </div>
	                <div class="clearfix"></div>
	              </div>
	            </div>

	            <div class="modal-footer">
	              <h4>Login with</h4>
	              <div class="social_login">
	                <div class="col-md-4 col-xs-4 item">
	                  <div class="wrp">
	                    <button class="btn fb "><i class="fa fa-facebook"></i>Facebook</button>
	                  </div>
	                </div>
	                <div class="col-md-4 col-xs-4 item">
	                  <div class="wrp">
	                    <button class="btn tw"><i class="fa fa-twitter"></i>Twitter</button>
	                  </div>
	                </div>
	                <div class="col-md-4 col-xs-4 item">
	                  <div class="wrp">
	                    <button class="btn gg"><i class="fa fa-google"></i>Google</button>
	                  </div>
	                </div>
	                <div class="clearfix"></div>
	              </div>
	              <div class="register">
	                <a href="" class="register" data-toggle="modal" data-target="#modal_register"
	                    data-dismiss="modal">Bạn chưa có tài khoản? Đăng ký ngay.</a>
	              </div>
	            </div>
	          </div>
	        </div>
	    </div>
	</div> 
</div>