<div ng-controller="footerCtrl">
	<div class="wrp_footer ">
	    <div class="container">
	      <div class="main_footer">
	        <div class="col-md-4 col-xs-4 item_footer logo">
	          <div class="bg"></div>
	        </div>
	        <div class="col-md-4 col-xs-4 item_footer au">
	          <h3>About Us</h3>
	          <p>This year our eatery has been acknowledged as the Best National Restaurant of 2015. Such a prestigious award widens the list of our prizes that we’ve earned.</p>
	        </div>
	        <div class="col-md-4 col-xs-4 item_footer cu">
	          <h3>Contact Us</h3>
	          <div class="ctn_item">
	            <p>Địa chỉ: 242 Nguyễn Hoàng</p>
	            <p>SĐT: 01282143365</p>
	            <p>Email: <a href="">hieutran040495@gmail.com</a></p>
	            <p>Website: <a href="">http://f-zone.com</a></p>
	          </div>
	          <div class="social">
	            <div class="item col-md-3 col-xs-3"><a href=""><i class="fa fa-facebook"></i></a></div>
	            <div class="item col-md-3 col-xs-3"><a href=""><i class="fa fa-twitter"></i></a></div>
	            <div class="item col-md-3 col-xs-3"><a href=""><i class="fa fa-dribbble"></i> </a></div>
	            <div class="item col-md-3 col-xs-3"><a href=""><i class="fa fa-behance"></i></a></div>
	            <div class="clearfix"></div>
	          </div>
	        </div>
	        <div class="clearfix"></div>
	      </div>
	    </div>
	    <div class="bottom_footer">
	      <p>© 2017 Owl Restaurant All Right Reserved.</p>
	    </div>
	  </div>
</div>