html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, address, em, img, strong, dl, dt, dd, ul, li, fieldset, form, label, legend {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0; }

:focus {
  outline: 0 !important; }

ol,
ul {
  list-style: none; }

img {
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

a:link, a:visited, a:hover, a:focus {
  text-decoration: none; }

::-webkit-file-upload-button {
  cursor: pointer; }

a:focus, a:active,
button:focus,
button:active,
input[type="submit"]:focus,
input[type="submit"]:active {
  box-shadow: none !important; }

@font-face {
  font-family: 'OpenSans Bold';
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSans Regular';
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSans Light';
  src: url("../fonts/OpenSans-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Pacifico';
  src: url("../fonts/Pacifico.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSans ExtraBold';
  src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype"); }

@font-face {
  font-family: 'OpenSans Semibold';
  src: url("../fonts/OpenSans-Semibold.ttf") format("truetype"); }

.details h2 {
  margin: 0; }

.details .item_detail {
  padding: 3% 0; }

.details .title {
  text-align: center;
  margin-bottom: 3%; }
  .details .title h2 {
    color: #d0963e;
    font-family: "OpenSans Bold"; }
    @media (max-width: 991px) {
      .details .title h2 {
        font-size: 25px; } }
    @media (max-width: 991px) {
      .details .title h2 {
        font-size: 24px; } }
    @media (max-width: 767px) {
      .details .title h2 {
        font-size: 22px; } }
    @media (max-width: 599px) {
      .details .title h2 {
        font-size: 20px; } }
    @media (max-width: 320px) {
      .details .title h2 {
        font-size: 18px; } }

.details .page_location {
  background: #d0963e;
  padding: 1% 0; }
  .details .page_location .it_page {
    display: inline-block;
    float: left;
    margin-right: 1%; }
    .details .page_location .it_page a {
      color: white; }

.details .introduce {
  padding: 3% 0;
  background: white; }
  .details .introduce .it_intro {
    margin-bottom: 1%; }
  .details .introduce .info .img {
    padding: 0; }
    @media (max-width: 599px) {
      .details .introduce .info .img {
        width: 100%;
        margin-bottom: 5%;
        padding: 0; } }
    .details .introduce .info .img .bg {
      padding-top: 45%;
      background-position: center;
      background-size: cover; }
      @media (max-width: 991px) {
        .details .introduce .info .img .bg {
          padding-top: 55%; } }
      @media (max-width: 599px) {
        .details .introduce .info .img .bg {
          padding-top: 35%; } }
  .details .introduce .info .text {
    padding: 0;
    padding-left: 3%; }
    @media (max-width: 991px) {
      .details .introduce .info .text {
        padding-left: 5%; } }
    @media (max-width: 599px) {
      .details .introduce .info .text {
        width: 50%;
        float: left;
        padding: 0; } }
    @media (max-width: 480px) {
      .details .introduce .info .text {
        width: 100%;
        margin-bottom: 2%; } }
    .details .introduce .info .text .content_text .item {
      margin: 0 0 2%;
      font-size: 16px; }
      @media (max-width: 991px) {
        .details .introduce .info .text .content_text .item {
          font-size: 15px; } }
      @media (max-width: 767px) {
        .details .introduce .info .text .content_text .item {
          font-size: 14px; } }
      .details .introduce .info .text .content_text .item i {
        margin-right: 1%; }
    .details .introduce .info .text .content_text .name {
      font-family: "OpenSans Bold";
      color: #d0963e;
      font-size: 25px; }
      @media (max-width: 991px) {
        .details .introduce .info .text .content_text .name {
          font-size: 22px; } }
      @media (max-width: 767px) {
        .details .introduce .info .text .content_text .name {
          font-size: 20px; } }
      @media (max-width: 320px) {
        .details .introduce .info .text .content_text .name {
          font-size: 17px; } }
    .details .introduce .info .text .content_text .heart i {
      margin: 0;
      color: #f55b35;
      font-size: 15px; }
      @media (max-width: 767px) {
        .details .introduce .info .text .content_text .heart i {
          font-size: 13px; } }
    .details .introduce .info .text .content_text .restaurant a {
      font-family: "OpenSans Regular";
      color: black; }
    .details .introduce .info .text .content_text .social .it_social {
      margin-right: 1%;
      width: 17%;
      display: inline-block;
      padding: 1%;
      text-align: center;
      box-shadow: 2px 2px 6px 1px #898383; }
      @media (max-width: 767px) {
        .details .introduce .info .text .content_text .social .it_social {
          width: 24%; } }
      @media (max-width: 480px) {
        .details .introduce .info .text .content_text .social .it_social {
          width: 18%; } }
      .details .introduce .info .text .content_text .social .it_social a {
        font-size: 14px;
        color: #fff;
        text-decoration: none; }
        @media (max-width: 991px) {
          .details .introduce .info .text .content_text .social .it_social a {
            font-size: 13px; } }
        @media (max-width: 991px) {
          .details .introduce .info .text .content_text .social .it_social a {
            font-size: 12px; } }
        .details .introduce .info .text .content_text .social .it_social a i {
          padding-right: 7%; }
    .details .introduce .info .text .content_text .social .fb {
      background: #234e9a; }
      .details .introduce .info .text .content_text .social .fb:hover {
        background: #1f4489; }
    .details .introduce .info .text .content_text .social .gg {
      background: #e2131e; }
      .details .introduce .info .text .content_text .social .gg:hover {
        background: #c5101a; }
  @media (max-width: 599px) {
    .details .introduce .info .clearfix {
      display: none; } }
  @media (max-width: 599px) {
    .details .introduce .map {
      width: 50%;
      float: left; } }
  @media (max-width: 480px) {
    .details .introduce .map {
      width: 100%; } }
  .details .introduce .map iframe {
    width: 100%; }
  .details .introduce .interact {
    border: 1px solid #9e6816;
    background: #fff;
    text-align: center;
    background: #885c1a; }
    @media (max-width: 991px) {
      .details .introduce .interact {
        font-size: 13px; } }
    @media (max-width: 599px) {
      .details .introduce .interact {
        margin-top: 3%; } }
    .details .introduce .interact .it_inter {
      padding: 0; }
      .details .introduce .interact .it_inter a {
        color: #fff;
        padding: 6% 0;
        display: block;
        font-weight: bold; }
        @media (max-width: 599px) {
          .details .introduce .interact .it_inter a {
            font-size: 12px; } }
        @media (max-width: 480px) {
          .details .introduce .interact .it_inter a {
            color: transparent;
            font-size: 0; } }
        .details .introduce .interact .it_inter a i {
          padding-right: 5%; }
          @media (max-width: 480px) {
            .details .introduce .interact .it_inter a i {
              color: #fff;
              font-size: 12px; } }
        .details .introduce .interact .it_inter a:hover {
          color: #fff;
          background: #d0963e;
          transition: all .3s;
          text-decoration: none; }
        .details .introduce .interact .it_inter a:focus {
          text-decoration: none; }

.details .other {
  background: url("../img/background/bg10.jpg") no-repeat;
  background-position: center;
  background-size: cover; }
  .details .other .wrp .other_slide {
    margin: 3% 0;
    margin-top: 0; }
    .details .other .wrp .other_slide .item_slide .bg {
      padding-top: 60%;
      background: url(../img/food/food1.jpg) no-repeat;
      background-position: center;
      background-size: cover;
      cursor: pointer; }
    .details .other .wrp .other_slide .item2 .bg {
      background: url(../img/food/food2.jpg) no-repeat;
      background-position: center;
      background-size: cover; }
    .details .other .wrp .other_slide .item3 .bg {
      background: url(../img/food/food3.jpg) no-repeat;
      background-position: center;
      background-size: cover; }
    .details .other .wrp .other_slide .item4 .bg {
      background: url(../img/food/food4.jpg) no-repeat;
      background-position: center;
      background-size: cover; }
    .details .other .wrp .other_slide button {
      z-index: 1;
      width: 35px;
      height: 35px;
      border-radius: 50%; }
      @media (max-width: 767px) {
        .details .other .wrp .other_slide button {
          width: 26px;
          height: 26px; } }
      @media (max-width: 480px) {
        .details .other .wrp .other_slide button {
          display: none !important; } }
      .details .other .wrp .other_slide button:before {
        content: ''; }
    .details .other .wrp .other_slide .btn_bg, .details .other .wrp .other_slide button {
      background: url(../img/icon/pre-4.png) no-repeat;
      background-position: center;
      background-size: 60%;
      background-color: rgba(0, 0, 0, 0.4); }
      @media (max-width: 767px) {
        .details .other .wrp .other_slide .btn_bg, .details .other .wrp .other_slide button {
          background-size: 50%; } }
    .details .other .wrp .other_slide .slick-next {
      right: 30px;
      background: url(../img/icon/next-4.png) no-repeat;
      background-position: center;
      background-size: 60%;
      background-color: rgba(0, 0, 0, 0.4); }
      @media (max-width: 767px) {
        .details .other .wrp .other_slide .slick-next {
          background-size: 50%; } }
    .details .other .wrp .other_slide .slick-prev {
      left: 30px; }

.details .comments {
  background: white; }
  @media (max-width: 320px) {
    .details .comments .wrp {
      font-size: 13px; } }
  .details .comments .wrp .content .item_content {
    border-bottom: 1px solid #c2c2c2;
    margin-bottom: 3%; }
    .details .comments .wrp .content .item_content:last-child {
      border-bottom: none; }
    .details .comments .wrp .content .item_content .poster {
      border-bottom: 1px dashed #d4d0d0;
      padding: 1% 0; }
      .details .comments .wrp .content .item_content .poster .item {
        padding: 0; }
      .details .comments .wrp .content .item_content .poster .avatar {
        float: left;
        margin-right: 2%; }
        .details .comments .wrp .content .item_content .poster .avatar .bg {
          height: 50px;
          width: 50px;
          background: url("../img/user/h1.jpg") no-repeat;
          background-position: center;
          background-size: cover;
          border-radius: 50%; }
          @media (max-width: 320px) {
            .details .comments .wrp .content .item_content .poster .avatar .bg {
              height: 35px;
              width: 35px; } }
      .details .comments .wrp .content .item_content .poster .infor {
        width: 200px;
        float: left; }
        .details .comments .wrp .content .item_content .poster .infor p {
          margin: 0; }
    .details .comments .wrp .content .item_content .ctn_cmt {
      padding: 2% 0;
      border-bottom: 1px dashed #d4d0d0; }
      .details .comments .wrp .content .item_content .ctn_cmt .title_cmt h3 {
        font-size: 17px;
        font-weight: bold;
        margin-top: 0; }
        @media (max-width: 320px) {
          .details .comments .wrp .content .item_content .ctn_cmt .title_cmt h3 {
            font-size: 14px; } }
      .details .comments .wrp .content .item_content .ctn_cmt .content {
        margin: 0 !important; }
        .details .comments .wrp .content .item_content .ctn_cmt .content .item_ctn {
          padding: 0; }
        .details .comments .wrp .content .item_content .ctn_cmt .content .text {
          padding-right: 2%; }
          .details .comments .wrp .content .item_content .ctn_cmt .content .text p {
            margin: 0; }
        .details .comments .wrp .content .item_content .ctn_cmt .content .img {
          display: none; }
          @media (max-width: 991px) {
            .details .comments .wrp .content .item_content .ctn_cmt .content .img {
              margin: 2% 0; } }
          .details .comments .wrp .content .item_content .ctn_cmt .content .img .item {
            padding: 0; }
            .details .comments .wrp .content .item_content .ctn_cmt .content .img .item .wrp_item .bg {
              padding-top: 60%;
              cursor: pointer; }
          .details .comments .wrp .content .item_content .ctn_cmt .content .img .item1 .bg {
            background: url(../img/food/food1.jpg) no-repeat;
            background-position: center;
            background-size: cover; }
          .details .comments .wrp .content .item_content .ctn_cmt .content .img .item2 .bg {
            background: url(../img/food/food2.jpg) no-repeat;
            background-position: center;
            background-size: cover; }
          .details .comments .wrp .content .item_content .ctn_cmt .content .img .item3 .bg {
            background: url(../img/food/food3.jpg) no-repeat;
            background-position: center;
            background-size: cover; }
          .details .comments .wrp .content .item_content .ctn_cmt .content .img .item4 .bg {
            background: url(../img/food/food4.jpg) no-repeat;
            background-position: center;
            background-size: cover; }
        .details .comments .wrp .content .item_content .ctn_cmt .content .review_cmt {
          margin-top: 1%; }
          .details .comments .wrp .content .item_content .ctn_cmt .content .review_cmt .item {
            width: 8%;
            float: left; }
            @media (max-width: 991px) {
              .details .comments .wrp .content .item_content .ctn_cmt .content .review_cmt .item {
                width: 11%; } }
            @media (max-width: 767px) {
              .details .comments .wrp .content .item_content .ctn_cmt .content .review_cmt .item {
                width: 13%; } }
            @media (max-width: 599px) {
              .details .comments .wrp .content .item_content .ctn_cmt .content .review_cmt .item {
                width: 16%; } }
            @media (max-width: 480px) {
              .details .comments .wrp .content .item_content .ctn_cmt .content .review_cmt .item {
                width: 10%; } }
            @media (max-width: 320px) {
              .details .comments .wrp .content .item_content .ctn_cmt .content .review_cmt .item {
                width: 14%; } }
            .details .comments .wrp .content .item_content .ctn_cmt .content .review_cmt .item i {
              padding-right: 4%; }
              @media (max-width: 480px) {
                .details .comments .wrp .content .item_content .ctn_cmt .content .review_cmt .item i {
                  color: #a9b3b2;
                  font-size: 13px; } }
            .details .comments .wrp .content .item_content .ctn_cmt .content .review_cmt .item a {
              color: #a9b3b2;
              font-size: 13px; }
              @media (max-width: 991px) {
                .details .comments .wrp .content .item_content .ctn_cmt .content .review_cmt .item a {
                  font-size: 12px; } }
              @media (max-width: 480px) {
                .details .comments .wrp .content .item_content .ctn_cmt .content .review_cmt .item a {
                  color: transparent;
                  font-size: 0; } }
    .details .comments .wrp .content .item_content .rep_cmt {
      padding: 2% 0; }
      .details .comments .wrp .content .item_content .rep_cmt .avatar {
        float: left;
        margin-right: 2%; }
        .details .comments .wrp .content .item_content .rep_cmt .avatar .bg {
          height: 40px;
          width: 40px;
          background: url("../img/user/h1.jpg") no-repeat;
          background-position: center;
          background-size: cover;
          border-radius: 50%; }
          @media (max-width: 320px) {
            .details .comments .wrp .content .item_content .rep_cmt .avatar .bg {
              height: 30px;
              width: 30px; } }
      .details .comments .wrp .content .item_content .rep_cmt .input_text {
        width: 93%;
        float: left;
        padding: 3px 0; }
        @media (max-width: 991px) {
          .details .comments .wrp .content .item_content .rep_cmt .input_text {
            width: 92%; } }
        @media (max-width: 767px) {
          .details .comments .wrp .content .item_content .rep_cmt .input_text {
            width: 90%; } }
        @media (max-width: 599px) {
          .details .comments .wrp .content .item_content .rep_cmt .input_text {
            width: 88%; } }
        @media (max-width: 480px) {
          .details .comments .wrp .content .item_content .rep_cmt .input_text {
            width: 83%; } }
        @media (max-width: 320px) {
          .details .comments .wrp .content .item_content .rep_cmt .input_text {
            width: 87%; } }
        .details .comments .wrp .content .item_content .rep_cmt .input_text textarea {
          border-radius: 0;
          height: 34px; }
          @media (max-width: 320px) {
            .details .comments .wrp .content .item_content .rep_cmt .input_text textarea {
              height: 28px; } }
      .details .comments .wrp .content .item_content .rep_cmt .item_rep {
        margin-bottom: 2%; }
        .details .comments .wrp .content .item_content .rep_cmt .item_rep p {
          margin: 0px; }
  .details .comments .wrp .view_more {
    text-align: center; }
    .details .comments .wrp .view_more button {
      border-radius: 0;
      padding: 5px 20%;
      background: #d0963e;
      color: #fff; }
      .details .comments .wrp .view_more button:hover {
        background: #c7913e; }

.detail_restaurants .wrp_blur {
  background: url("../img/background/bg14.jpg") no-repeat;
  background-position: center;
  background-size: cover; }
  .detail_restaurants .wrp_blur .features {
    background: rgba(0, 0, 0, 0.85); }
    .detail_restaurants .wrp_blur .features .wrp .ctn_features {
      color: #fff;
      letter-spacing: 2px;
      text-align: center; }
      @media (max-width: 767px) {
        .detail_restaurants .wrp_blur .features .wrp .ctn_features .item_ctn {
          width: 50%; } }
      @media (max-width: 480px) {
        .detail_restaurants .wrp_blur .features .wrp .ctn_features .item_ctn {
          width: 100%; } }
      .detail_restaurants .wrp_blur .features .wrp .ctn_features .item_ctn .title_item h4 {
        font-family: "OpenSans Bold"; }
        @media (max-width: 1199px) {
          .detail_restaurants .wrp_blur .features .wrp .ctn_features .item_ctn .title_item h4 {
            font-size: 16px; } }
        @media (max-width: 599px) {
          .detail_restaurants .wrp_blur .features .wrp .ctn_features .item_ctn .title_item h4 {
            font-size: 15px; } }
      .detail_restaurants .wrp_blur .features .wrp .ctn_features .item_ctn .content {
        margin-top: 0 !important; }
        .detail_restaurants .wrp_blur .features .wrp .ctn_features .item_ctn .content p {
          font-family: "OpenSans Light"; }
          @media (max-width: 1199px) {
            .detail_restaurants .wrp_blur .features .wrp .ctn_features .item_ctn .content p {
              font-size: 13px; } }
          @media (max-width: 599px) {
            .detail_restaurants .wrp_blur .features .wrp .ctn_features .item_ctn .content p {
              font-size: 12px; } }

.detail_restaurants .albums {
  background: #fff; }
  .detail_restaurants .albums .wrp .img_albums {
    text-align: center; }
    @media (max-width: 767px) {
      .detail_restaurants .albums .wrp .img_albums p, .detail_restaurants .albums .wrp .img_albums a, .detail_restaurants .albums .wrp .img_albums h5 {
        font-size: 13px; } }
    .detail_restaurants .albums .wrp .img_albums .item {
      padding: 0;
      margin-bottom: 1%; }
      @media (max-width: 599px) {
        .detail_restaurants .albums .wrp .img_albums .item {
          width: 33.33333%; } }
      @media (max-width: 480px) {
        .detail_restaurants .albums .wrp .img_albums .item {
          width: 50%; } }
      .detail_restaurants .albums .wrp .img_albums .item .wrp_item {
        padding: 0 2%; }
        .detail_restaurants .albums .wrp .img_albums .item .wrp_item .img:hover {
          opacity: 0.5;
          transition: all .3s; }
        .detail_restaurants .albums .wrp .img_albums .item .wrp_item .img .bg {
          cursor: pointer;
          padding-top: 80%;
          background: url(../img/food/food1.jpg) no-repeat !important;
          background-size: cover !important;
          background-position: center !important; }
          .detail_restaurants .albums .wrp .img_albums .item .wrp_item .img .bg .upload {
            display: none; }
        .detail_restaurants .albums .wrp .img_albums .item .wrp_item .text {
          margin-top: 2%; }
          .detail_restaurants .albums .wrp .img_albums .item .wrp_item .text .title_album {
            font-weight: bold;
            margin-bottom: 2%;
            cursor: pointer; }
            .detail_restaurants .albums .wrp .img_albums .item .wrp_item .text .title_album:hover {
              color: #d0963e;
              transition: all .3s; }
          .detail_restaurants .albums .wrp .img_albums .item .wrp_item .text .num {
            margin: 0; }

.detail_albums {
  background: url("../img/background/bg8.jpg") no-repeat;
  background-position: center;
  background-size: cover; }
  .detail_albums .tab_albums {
    text-align: center;
    border: 1px solid #9e6816; }
    @media (max-width: 480px) {
      .detail_albums .tab_albums {
        display: none; } }
    .detail_albums .tab_albums .item_tab {
      padding: 0; }
      .detail_albums .tab_albums .item_tab a {
        padding: 4% 0;
        display: block;
        text-decoration: none;
        color: #9e6816;
        font-weight: bold; }
        @media (max-width: 599px) {
          .detail_albums .tab_albums .item_tab a {
            font-size: 13px; } }
        .detail_albums .tab_albums .item_tab a:hover {
          color: #fff;
          background: #d0963e;
          transition: all .3s;
          text-decoration: none; }
    .detail_albums .tab_albums .act_tab {
      background: #d0963e; }
      .detail_albums .tab_albums .act_tab a {
        color: #fff; }
  .detail_albums .img_albums {
    margin-top: 3%; }
    .detail_albums .img_albums .item_img {
      padding: 0;
      margin-bottom: 1%; }
      @media (max-width: 767px) {
        .detail_albums .img_albums .item_img {
          width: 33.33333%; } }
      @media (max-width: 480px) {
        .detail_albums .img_albums .item_img {
          width: 50%; } }
      .detail_albums .img_albums .item_img:hover .hover_bg {
        background: rgba(255, 255, 255, 0.5);
        transition: all .3s; }
      .detail_albums .img_albums .item_img .wrp {
        padding: 0 2%; }
        .detail_albums .img_albums .item_img .wrp .bg {
          cursor: pointer;
          background: url(../img/food/food5.jpg) no-repeat;
          background-size: cover;
          background-position: center; }
          .detail_albums .img_albums .item_img .wrp .bg .hover_bg {
            padding-top: 70%; }

.header .top_header {
  background: #000;
  padding: 5px 0; }
  .header .top_header a {
    font-size: 12px;
    color: #fff;
    font-family: "OpenSans Bold"; }
    @media (max-width: 991px) {
      .header .top_header a {
        font-size: 10px; } }
  @media (max-width: 767px) {
    .header .top_header {
      display: none; } }
  .header .top_header .top_left {
    float: left; }
    .header .top_header .top_left i {
      margin-right: 5px; }
    .header .top_header .top_left a {
      margin-right: 10px; }
  .header .top_header .top_right {
    float: right; }
    .header .top_header .top_right a {
      margin: 0 5px; }
      .header .top_header .top_right a:hover {
        color: #d0963e;
        text-decoration: none; }
    .header .top_header .top_right .social {
      float: left;
      border-right: 1px solid #a9b3b2; }
    .header .top_header .top_right .user {
      float: left; }
      .header .top_header .top_right .user .register {
        margin-right: 0; }

@media (max-width: 767px) {
  .header .menu {
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    transition: .3s ease-in-out; } }

.header .menu .navbar_background {
  margin: 0;
  border: transparent;
  border-top: 1px solid #a9b3b2;
  border-radius: 0px;
  background: #000; }
  @media (max-width: 767px) {
    .header .menu .navbar_background {
      background: transparent; } }
  @media (max-width: 767px) {
    .header .menu .navbar_background .shortcut_menu {
      background: #000; } }
  .header .menu .navbar_background .shortcut_menu .nav-left .shortcut {
    border: none;
    width: 40px;
    height: 34px; }
    .header .menu .navbar_background .shortcut_menu .nav-left .shortcut:hover {
      background: transparent; }
    .header .menu .navbar_background .shortcut_menu .nav-left .shortcut:focus {
      background: transparent; }
    @media (max-width: 767px) {
      .header .menu .navbar_background .shortcut_menu .nav-left .shortcut {
        float: left;
        margin-right: 0px; } }
    .header .menu .navbar_background .shortcut_menu .nav-left .shortcut .show_icon .icon-bar {
      background-color: #fff; }
      @media (max-width: 320px) {
        .header .menu .navbar_background .shortcut_menu .nav-left .shortcut .show_icon .icon-bar {
          width: 20px; } }
    .header .menu .navbar_background .shortcut_menu .nav-left .shortcut .hide_icon i {
      font-size: 16px;
      color: #fff; }
  .header .menu .navbar_background .shortcut_menu .nav-left .logo_header {
    padding: 0;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px; }
    @media (max-width: 767px) {
      .header .menu .navbar_background .shortcut_menu .nav-left .logo_header {
        margin: 0; } }
    .header .menu .navbar_background .shortcut_menu .nav-left .logo_header img {
      width: 120px;
      height: 100%; }
      @media (max-width: 991px) {
        .header .menu .navbar_background .shortcut_menu .nav-left .logo_header img {
          width: 100px; } }
      @media (max-width: 320px) {
        .header .menu .navbar_background .shortcut_menu .nav-left .logo_header img {
          width: 90px; } }
  .header .menu .navbar_background .shortcut_menu .nav-right {
    display: none;
    float: right;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 7px 10px; }
    @media (max-width: 767px) {
      .header .menu .navbar_background .shortcut_menu .nav-right {
        display: inline-block; } }
    .header .menu .navbar_background .shortcut_menu .nav-right .item_right {
      color: #fff;
      padding-left: 8px; }
  .header .menu .navbar_background .list_menu {
    width: 84%;
    float: right;
    padding: 0; }
    @media (max-width: 767px) {
      .header .menu .navbar_background .list_menu {
        float: left;
        background: #000;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 1500px;
        border: 1px solid #212324; } }
    .header .menu .navbar_background .list_menu a {
      border-top: 2px solid transparent;
      border-bottom: 2px solid transparent;
      color: #fff;
      letter-spacing: 2px;
      font-family: "OpenSans Regular";
      padding-top: 20px;
      padding-bottom: 20px; }
      @media (max-width: 991px) {
        .header .menu .navbar_background .list_menu a {
          font-size: 12px;
          letter-spacing: 0.8px; } }
      @media (max-width: 767px) {
        .header .menu .navbar_background .list_menu a {
          font-size: 14px;
          letter-spacing: 2px;
          padding-top: 10px;
          padding-bottom: 10px; } }
      .header .menu .navbar_background .list_menu a:hover {
        transition: all .3s;
        border-top: 2px solid #d0963e;
        color: #d0963e; }
        @media (max-width: 767px) {
          .header .menu .navbar_background .list_menu a:hover {
            border-top: none;
            border-bottom: 2px solid #d0963e; } }
    .header .menu .navbar_background .list_menu .item_menu i {
      display: none;
      margin-right: 5px; }
      @media (max-width: 767px) {
        .header .menu .navbar_background .list_menu .item_menu i {
          display: inline-block; } }
    .header .menu .navbar_background .list_menu .item_menu .fa-search {
      display: inline-block; }
    @media (max-width: 767px) {
      .header .menu .navbar_background .list_menu .item_search {
        display: none; } }
    .header .menu .navbar_background .list_menu .item_search i {
      margin-right: 0; }
  .header .menu .navbar_background .act_menu a {
    border-top: 2px solid #d0963e; }
    @media (max-width: 767px) {
      .header .menu .navbar_background .act_menu a {
        border-top: 2px solid transparent !important;
        border-bottom: 2px solid #d0963e; } }

.header .scroll_menu {
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  transition: .3s ease-in-out; }

.rotateUpModal {
  transform: rotate(180deg); }

.btn_complete {
  text-align: center;
  margin-top: 8%; }
  @media (max-width: 480px) {
    .btn_complete {
      margin-top: 4%; } }
  .btn_complete .btn {
    width: 100%; }
    .btn_complete .btn .hover_bg {
      padding: 2% 0; }

.modal {
  overflow-y: auto !important; }

#modal_login .modal-dialog {
  width: 400px; }
  @media (max-width: 767px) {
    #modal_login .modal-dialog {
      width: auto;
      margin: 10px 20%; } }
  @media (max-width: 599px) {
    #modal_login .modal-dialog {
      margin: 10px 10%; } }
  @media (max-width: 480px) {
    #modal_login .modal-dialog {
      margin: 10px 3%; } }

@media (max-width: 480px) {
  #modal_login .modal-content {
    background-size: 285%; } }

@media (max-width: 320px) {
  #modal_login .modal-content {
    background-size: 380%; } }

#modal_login .modal-content a, #modal_login .modal-content input, #modal_login .modal-content label {
  font-size: 14px !important; }
  @media (max-width: 480px) {
    #modal_login .modal-content a, #modal_login .modal-content input, #modal_login .modal-content label {
      font-size: 13px !important; } }
  @media (max-width: 320px) {
    #modal_login .modal-content a, #modal_login .modal-content input, #modal_login .modal-content label {
      font-size: 12px !important; } }

#modal_login .modal-content .modal-body .input-group {
  padding-bottom: 20px; }

#modal_login .modal-content .modal-body .other .checkbox {
  margin-top: 5px;
  margin-bottom: 5px; }
  @media (max-width: 480px) {
    #modal_login .modal-content .modal-body .other .checkbox {
      width: 50%;
      float: left; } }

#modal_login .modal-content .modal-body .other .custom {
  padding: 0; }
  @media (max-width: 480px) {
    #modal_login .modal-content .modal-body .other .custom {
      width: 100%; } }
  #modal_login .modal-content .modal-body .other .custom a, #modal_login .modal-content .modal-body .other .custom label {
    color: #fff !important;
    font-family: "OpenSans Regular" !important; }
  @media (max-width: 480px) {
    #modal_login .modal-content .modal-body .other .custom .link_other {
      width: 50%;
      float: left;
      text-align: right; }
      #modal_login .modal-content .modal-body .other .custom .link_other .register {
        display: none; } }
  #modal_login .modal-content .modal-body .other .custom .link_other a {
    display: block;
    margin: 0;
    padding: 5px 0; }

#modal_login .modal-content .modal-body .other .btn_login {
  padding: 0;
  text-align: right; }
  @media (max-width: 480px) {
    #modal_login .modal-content .modal-body .other .btn_login {
      width: 100%;
      margin-top: 4%; } }
  #modal_login .modal-content .modal-body .other .btn_login .btn {
    width: 70%; }
    @media (max-width: 480px) {
      #modal_login .modal-content .modal-body .other .btn_login .btn {
        width: 100%; } }
    #modal_login .modal-content .modal-body .other .btn_login .btn .hover_bg {
      padding: 6% 11%;
      font-size: 16px; }
      @media (max-width: 480px) {
        #modal_login .modal-content .modal-body .other .btn_login .btn .hover_bg {
          padding: 2% 0; } }

#modal_login .modal-content .modal-footer {
  margin: 0; }
  #modal_login .modal-content .modal-footer h4 {
    margin: 0; }
  #modal_login .modal-content .modal-footer .social_login {
    text-align: left;
    padding-top: 15px; }
    #modal_login .modal-content .modal-footer .social_login .item {
      padding: 0; }
      #modal_login .modal-content .modal-footer .social_login .item .wrp {
        padding: 0 5%; }
        #modal_login .modal-content .modal-footer .social_login .item .wrp button {
          width: 100%;
          color: #fff; }
          @media (max-width: 480px) {
            #modal_login .modal-content .modal-footer .social_login .item .wrp button {
              color: transparent;
              font-size: 0px;
              padding: 7% 0; } }
          #modal_login .modal-content .modal-footer .social_login .item .wrp button i {
            padding-right: 5%; }
            @media (max-width: 480px) {
              #modal_login .modal-content .modal-footer .social_login .item .wrp button i {
                color: #fff;
                font-size: 13px; } }
        #modal_login .modal-content .modal-footer .social_login .item .wrp .fb {
          background: #234e9a; }
          #modal_login .modal-content .modal-footer .social_login .item .wrp .fb:hover {
            background: #1f4489; }
        #modal_login .modal-content .modal-footer .social_login .item .wrp .tw {
          background: #32aadc; }
          #modal_login .modal-content .modal-footer .social_login .item .wrp .tw:hover {
            background: #2295c6; }
        #modal_login .modal-content .modal-footer .social_login .item .wrp .gg {
          background: #e2131e; }
          #modal_login .modal-content .modal-footer .social_login .item .wrp .gg:hover {
            background: #c5101a; }
  #modal_login .modal-content .modal-footer .register {
    margin-top: 10%;
    text-align: center;
    display: none; }
    @media (max-width: 480px) {
      #modal_login .modal-content .modal-footer .register {
        display: block; } }
    #modal_login .modal-content .modal-footer .register a {
      color: #d0963e;
      font-family: "OpenSans Regular"; }

@media (max-width: 480px) {
  #modal_register .modal-content {
    background-size: 280%; } }

@media (max-width: 320px) {
  #modal_register .modal-content {
    background-size: 360%; } }

#modal_register .modal-content .modal-body .input-group {
  padding-bottom: 3%; }

#modal_register .modal-content .modal-body .sign_up {
  padding-top: 4%; }
  #modal_register .modal-content .modal-body .sign_up .hover_bg {
    font-size: 17px;
    padding: 6px 25px; }

@media (max-width: 480px) {
  #modal_search .modal-content {
    background-size: 294%; } }

@media (max-width: 320px) {
  #modal_search .modal-content {
    background-size: 510%; } }

#modal_search .modal-content .modal-body .title i {
  float: right;
  transition: all 0.5s; }

#modal_search .modal-content .modal-body .title a {
  display: block;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  color: #5b7a74; }
  @media (max-width: 480px) {
    #modal_search .modal-content .modal-body .title a {
      font-size: 15px; } }
  @media (max-width: 480px) {
    #modal_search .modal-content .modal-body .title a {
      font-size: 14px; } }

#modal_search .modal-content .modal-body .item_search {
  background: rgba(255, 255, 255, 0.6);
  padding: 3% 2%;
  border: 1px solid rgba(255, 255, 255, 0.2); }
  #modal_search .modal-content .modal-body .item_search h5 {
    margin: 0; }
  #modal_search .modal-content .modal-body .item_search .form-group {
    padding-top: 2%;
    margin: 0; }
    #modal_search .modal-content .modal-body .item_search .form-group .form-control {
      border-radius: 0;
      border: 1px solid #fff; }

#modal_search .modal-content .modal-body .fast_search {
  border-bottom: 1px solid #fff; }

#modal_search .modal-content .modal-body .around {
  border-top: 1px solid rgba(0, 0, 0, 0.21); }

#modal_search .modal-content .modal-body .btn_search {
  text-align: center;
  padding-top: 5%; }
  #modal_search .modal-content .modal-body .btn_search .btn {
    width: 100%; }
    #modal_search .modal-content .modal-body .btn_search .btn .hover_bg {
      padding: 2% 0;
      font-size: 17px; }

.modal_detail .modal-title {
  color: #d0963e !important; }

.modal_detail .modal-content {
  background: #fff !important; }
  .modal_detail .modal-content .wrp_modal_ctn {
    background: transparent !important; }
    .modal_detail .modal-content .wrp_modal_ctn .modal-header button {
      color: #d0963e !important; }

#modal_rating .item_rate h4 {
  display: inline-block;
  font-size: 15px;
  color: black; }
  @media (max-width: 480px) {
    #modal_rating .item_rate h4 {
      font-size: 14px; } }
  @media (max-width: 320px) {
    #modal_rating .item_rate h4 {
      font-size: 13px; } }

#modal_rating .rate1 {
  font-size: 35px; }
  @media (max-width: 599px) {
    #modal_rating .rate1 {
      font-size: 30px; } }
  @media (max-width: 480px) {
    #modal_rating .rate1 {
      font-size: 28px; } }
  @media (max-width: 320px) {
    #modal_rating .rate1 {
      font-size: 26px; } }
  #modal_rating .rate1 .rate-hover-layer {
    color: pink; }
  #modal_rating .rate1 .rate-select-layer {
    color: #f55b35; }

#modal_rating .modal-dialog {
  width: 350px; }
  @media (max-width: 767px) {
    #modal_rating .modal-dialog {
      width: auto;
      margin: 10px 20%; } }
  @media (max-width: 480px) {
    #modal_rating .modal-dialog {
      margin: 10px 6%; } }
  #modal_rating .modal-dialog .modal-content {
    background: #fff; }
    #modal_rating .modal-dialog .modal-content .wrp_modal_ctn {
      background: transparent; }
      #modal_rating .modal-dialog .modal-content .wrp_modal_ctn .modal-header button {
        color: #000; }

#modal_cmt label, #modal_cmt a {
  color: #000; }

#modal_cmt .modal-body .item_post {
  margin-bottom: 4%; }
  #modal_cmt .modal-body .item_post label {
    margin-bottom: 1%; }

#modal_cmt .modal-body .post_cmt input, #modal_cmt .modal-body .post_cmt textarea {
  border-radius: 0; }

#modal_cmt .modal-body .upload .item_up {
  padding: 0; }
  #modal_cmt .modal-body .upload .item_up i {
    padding-right: 5%; }

#modal_cmt .modal-body .upload .up_img {
  display: none; }

#modal_cmt .modal-body .upload .up_video {
  display: none; }

#modal_cmt .modal-body .upload .btn_complete {
  margin-top: 2%; }
  #modal_cmt .modal-body .upload .btn_complete .hover_bg {
    padding: 3% 0; }

.wrapper .content .wrp_ctn {
  padding: 4% 0; }
  .wrapper .content .wrp_ctn .ctn_title {
    text-align: center;
    font-family: "Pacifico";
    color: #d0963e; }
    .wrapper .content .wrp_ctn .ctn_title h2 {
      font-size: 45px;
      margin: 0; }
      @media (max-width: 991px) {
        .wrapper .content .wrp_ctn .ctn_title h2 {
          font-size: 40px; } }
      @media (max-width: 767px) {
        .wrapper .content .wrp_ctn .ctn_title h2 {
          font-size: 35px; } }
      @media (max-width: 599px) {
        .wrapper .content .wrp_ctn .ctn_title h2 {
          font-size: 30px; } }
      @media (max-width: 480px) {
        .wrapper .content .wrp_ctn .ctn_title h2 {
          font-size: 25px; } }
    .wrapper .content .wrp_ctn .ctn_title .underline {
      width: 100%;
      height: 0;
      margin: 0;
      padding-top: 4%;
      background: url(../img/underline/under3.png) no-repeat;
      background-position: center;
      background-size: 6%; }
      @media (max-width: 991px) {
        .wrapper .content .wrp_ctn .ctn_title .underline {
          background-size: 8%; } }
      @media (max-width: 599px) {
        .wrapper .content .wrp_ctn .ctn_title .underline {
          background-size: 9%; } }
  .wrapper .content .wrp_ctn .ctn_products {
    margin: 5% 0; }
    .wrapper .content .wrp_ctn .ctn_products .item_products {
      padding: 0;
      margin-bottom: 3%; }
      @media (max-width: 599px) {
        .wrapper .content .wrp_ctn .ctn_products .item_products {
          width: 33.33333333333333%; }
          .wrapper .content .wrp_ctn .ctn_products .item_products:nth-child(7) {
            display: none; }
          .wrapper .content .wrp_ctn .ctn_products .item_products:nth-child(8) {
            display: none; } }
      @media (max-width: 480px) {
        .wrapper .content .wrp_ctn .ctn_products .item_products {
          width: 50%; }
          .wrapper .content .wrp_ctn .ctn_products .item_products:nth-child(5) {
            display: none; }
          .wrapper .content .wrp_ctn .ctn_products .item_products:nth-child(6) {
            display: none; } }
      @media (max-width: 320px) {
        .wrapper .content .wrp_ctn .ctn_products .item_products {
          width: 100%;
          margin-bottom: 5%; }
          .wrapper .content .wrp_ctn .ctn_products .item_products:nth-child(4) {
            display: none; } }
      .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item {
        margin-left: 3%;
        margin-right: 3%; }
        .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .img_products {
          cursor: pointer;
          position: relative;
          overflow: hidden; }
          .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .img_products .bg_img {
            width: 100%;
            height: 0;
            background-position: center;
            background-size: cover;
            transition: .3s ease-in-out; }
          .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .img_products .view {
            background: rgba(0, 0, 0, 0.5);
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0; }
            .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .img_products .view .wrp_view {
              display: inline-block;
              border: 2px solid rgba(255, 255, 255, 0.6);
              background: #d0963e;
              padding: 3% 4%;
              transform: rotate(45deg);
              transition: .8s ease-in-out;
              width: 40px;
              height: 40px;
              margin-top: 15%;
              margin-left: 43%; }
              @media (max-width: 991px) {
                .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .img_products .view .wrp_view {
                  width: 35px;
                  height: 35px;
                  padding: 3% 5%; } }
              @media (max-width: 767px) {
                .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .img_products .view .wrp_view {
                  margin-left: 40%; } }
              @media (max-width: 320px) {
                .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .img_products .view .wrp_view {
                  margin-left: 45%;
                  padding: 1% 3%; } }
            .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .img_products .view a {
              display: block;
              margin-left: 0px;
              transform: rotate(-45deg); }
            .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .img_products .view i {
              color: #fff; }
              @media (max-width: 991px) {
                .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .img_products .view i {
                  font-size: 13px; } }
        .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .ctn_item {
          overflow: hidden;
          text-align: center;
          background: #fff;
          font-family: "OpenSans Regular";
          padding: 5% 3%; }
          .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .ctn_item .info h3, .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .ctn_item .info p, .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .ctn_item .info a {
            margin: 0;
            color: #626261;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
          .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .ctn_item .info h3 {
            padding-bottom: 3%;
            font-size: 20px;
            font-family: "OpenSans Semibold"; }
            @media (max-width: 991px) {
              .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .ctn_item .info h3 {
                font-size: 16px; } }
            @media (max-width: 767px) {
              .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .ctn_item .info h3 {
                font-size: 15px; } }
            @media (max-width: 599px) {
              .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .ctn_item .info h3 {
                font-size: 15px; } }
            @media (max-width: 480px) {
              .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .ctn_item .info h3 {
                font-size: 13px; } }
          .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .ctn_item .info p {
            padding-bottom: 3%; }
            @media (max-width: 991px) {
              .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .ctn_item .info p {
                font-size: 13px; } }
            @media (max-width: 767px) {
              .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .ctn_item .info p {
                font-size: 12px; } }
            @media (max-width: 599px) {
              .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .ctn_item .info p {
                font-size: 12px; } }
            @media (max-width: 480px) {
              .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .ctn_item .info p {
                font-size: 11px; } }
          .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .ctn_item .info a:hover {
            text-decoration: none;
            color: #d0963e; }
          .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .ctn_item .info .address {
            font-size: 12px;
            font-family: "OpenSans Light"; }
            @media (max-width: 991px) {
              .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .ctn_item .info .address {
                font-size: 11px; } }
            @media (max-width: 767px) {
              .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .ctn_item .info .address {
                font-size: 10px; } }
          .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .ctn_item .info .price {
            font-size: 18px;
            color: #c95f32;
            font-family: "OpenSans Bold"; }
            @media (max-width: 991px) {
              .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .ctn_item .info .price {
                font-size: 15px; } }
            @media (max-width: 599px) {
              .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .ctn_item .info .price {
                font-size: 14px; } }
            @media (max-width: 480px) {
              .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .ctn_item .info .price {
                font-size: 12px; } }
          .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .ctn_item .parameter {
            margin-top: 5%; }
            @media (max-width: 599px) {
              .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .ctn_item .parameter {
                display: none; } }
            .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .ctn_item .parameter a {
              font-size: 11px;
              color: #000;
              font-family: "OpenSans Light"; }
              .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .ctn_item .parameter a:hover {
                text-decoration: none;
                color: #d0963e;
                font-weight: bold; }
              @media (max-width: 767px) {
                .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .ctn_item .parameter a {
                  color: transparent;
                  font-size: 0; } }
            .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .ctn_item .parameter i {
              color: #8d6d3b;
              font-size: 11px;
              padding-right: 5%; }
            .wrapper .content .wrp_ctn .ctn_products .item_products .wrp_item .ctn_item .parameter div {
              padding: 0; }

.wrapper .modal button {
  border-radius: 0; }

.wrapper .modal h4 {
  text-align: center;
  font-weight: bold;
  color: #fff; }

.wrapper .modal .modal-header {
  border-bottom: none; }
  .wrapper .modal .modal-header button {
    color: #fff;
    text-shadow: 1px 2px 0 #000;
    opacity: 0.8; }

.wrapper .modal .modal-content {
  border-radius: 0;
  background: url("../img/background/bg7.jpg") no-repeat;
  background-position: center;
  background-size: 230%; }
  .wrapper .modal .modal-content .wrp_modal_ctn {
    background: rgba(0, 0, 0, 0.3); }
  .wrapper .modal .modal-content .btn-success {
    background: url("../img/button/btn4.png") no-repeat;
    background-position: center;
    background-size: 125%;
    border: transparent;
    box-shadow: 2px 3px 12px -2px #000;
    border-radius: 0;
    padding: 0; }
    .wrapper .modal .modal-content .btn-success:hover .hover_bg {
      background: rgba(255, 255, 255, 0.2); }
  .wrapper .modal .modal-content .btn {
    box-shadow: 2px 3px 12px -2px #000; }

.wrapper .input-group span, .wrapper .input-group input {
  border-radius: 0; }

.footer {
  background: url(../img/background/bg6.jpg) no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  font-family: "OpenSans Regular";
  text-align: center; }
  .footer .wrp_footer {
    background: rgba(0, 0, 0, 0.9);
    color: #fff; }
    @media (max-width: 991px) {
      .footer .wrp_footer p {
        font-size: 13px; } }
    .footer .wrp_footer .main_footer {
      padding: 2% 0; }
      .footer .wrp_footer .main_footer .item_footer a {
        color: #d0963e; }
      .footer .wrp_footer .main_footer .item_footer h3, .footer .wrp_footer .main_footer .item_footer p {
        margin: 0; }
      .footer .wrp_footer .main_footer .item_footer h3 {
        margin: 7% 0; }
        @media (max-width: 991px) {
          .footer .wrp_footer .main_footer .item_footer h3 {
            font-size: 22px; } }
        @media (max-width: 767px) {
          .footer .wrp_footer .main_footer .item_footer h3 {
            margin: 0;
            margin-bottom: 3%; } }
      .footer .wrp_footer .main_footer .item_footer p {
        margin-bottom: 2%; }
      @media (max-width: 767px) {
        .footer .wrp_footer .main_footer .item_footer {
          width: 100%;
          padding: 0;
          margin-top: 3%; } }
      .footer .wrp_footer .main_footer .logo {
        padding: 4% 0; }
        .footer .wrp_footer .main_footer .logo .bg {
          background: url(../img/logo/logo3.png) no-repeat;
          background-position: center;
          background-size: 45%;
          height: 0;
          padding-top: 25%; }
          @media (max-width: 991px) {
            .footer .wrp_footer .main_footer .logo .bg {
              background-size: 65%;
              padding-top: 30%; } }
          @media (max-width: 767px) {
            .footer .wrp_footer .main_footer .logo .bg {
              background-size: 30%;
              padding-top: 18%; } }
      .footer .wrp_footer .main_footer .cu .social {
        margin-top: 6%; }
        @media (max-width: 991px) {
          .footer .wrp_footer .main_footer .cu .social {
            margin-top: 7%; } }
        @media (max-width: 767px) {
          .footer .wrp_footer .main_footer .cu .social {
            padding: 0 25%; } }
        .footer .wrp_footer .main_footer .cu .social a {
          display: inline-block;
          color: #fff; }
          .footer .wrp_footer .main_footer .cu .social a i {
            font-size: 17px; }
            @media (max-width: 767px) {
              .footer .wrp_footer .main_footer .cu .social a i {
                font-size: 15px; } }
            .footer .wrp_footer .main_footer .cu .social a i:hover {
              color: #d0963e; }
        .footer .wrp_footer .main_footer .cu .social .item {
          padding: 0; }
    .footer .wrp_footer .bottom_footer {
      padding: 1% 0;
      border-top: 1px solid #fff; }
      .footer .wrp_footer .bottom_footer p {
        margin: 0; }
        @media (max-width: 320px) {
          .footer .wrp_footer .bottom_footer p {
            font-size: 12px; } }

.slide_home .regular {
  margin: 0 !important; }

.slide_home .slick-dots {
  bottom: 7%; }

.slide_home .slick-dots li {
  width: initial;
  height: initial;
  margin: 0 1%; }

.slide_home .slick-dots li button:before {
  content: none; }

.slide_home .slick-dots li button {
  width: 12px;
  height: 12px;
  padding: 0;
  background: #000;
  border-radius: 50%;
  border: 1px solid #000; }
  @media (max-width: 991px) {
    .slide_home .slick-dots li button {
      width: 10px;
      height: 10px; } }
  @media (max-width: 767px) {
    .slide_home .slick-dots li button {
      width: 8px;
      height: 8px; } }

.slide_home .slick-dots li.slick-active button {
  background: #fff;
  border: 3px solid #fb9d00;
  box-shadow: 2px 2px 3px 0px #000; }
  @media (max-width: 991px) {
    .slide_home .slick-dots li.slick-active button {
      border: 2px solid #fb9d00; } }

.slide_home .slick-slide img {
  width: 100%; }

.slide_home .slick-prev:before,
.slide_home .slick-next:before {
  content: none; }

.slide_home .slick-prev:hover {
  background-color: rgba(255, 255, 255, 0.8) !important; }

.slide_home .slick-next:hover {
  background-color: rgba(255, 255, 255, 0.8) !important; }

.slide_home .slick-prev, .slide_home .slick-next {
  width: 70px;
  height: 70px;
  z-index: 1; }
  @media (max-width: 1599px) {
    .slide_home .slick-prev, .slide_home .slick-next {
      width: 50px;
      height: 50px; } }
  @media (max-width: 991px) {
    .slide_home .slick-prev, .slide_home .slick-next {
      width: 48px;
      height: 48px; } }
  @media (max-width: 767px) {
    .slide_home .slick-prev, .slide_home .slick-next {
      width: 42px;
      height: 42px; } }
  @media (max-width: 599px) {
    .slide_home .slick-prev, .slide_home .slick-next {
      width: 35px;
      height: 35px; } }
  @media (max-width: 480px) {
    .slide_home .slick-prev, .slide_home .slick-next {
      display: none !important; } }

.slide_home .slick-prev {
  background: url("../img/icon/pre-4.png") no-repeat center !important;
  background-size: 40px !important;
  left: 3%;
  background-color: rgba(255, 255, 255, 0.5) !important;
  border-radius: 50%; }
  @media (max-width: 1599px) {
    .slide_home .slick-prev {
      background-size: 32px !important; } }
  @media (max-width: 991px) {
    .slide_home .slick-prev {
      background-size: 30px !important; } }
  @media (max-width: 767px) {
    .slide_home .slick-prev {
      background-size: 25px !important; } }
  @media (max-width: 599px) {
    .slide_home .slick-prev {
      background-size: 20px !important; } }

.slide_home .slick-next {
  background: url("../img/icon/next-4.png") no-repeat center !important;
  background-size: 40px !important;
  right: 3%;
  background-color: rgba(255, 255, 255, 0.5) !important;
  border-radius: 50%; }
  @media (max-width: 1599px) {
    .slide_home .slick-next {
      background-size: 32px !important; } }
  @media (max-width: 991px) {
    .slide_home .slick-next {
      background-size: 30px !important; } }
  @media (max-width: 767px) {
    .slide_home .slick-next {
      background-size: 25px !important; } }
  @media (max-width: 599px) {
    .slide_home .slick-next {
      background-size: 20px !important; } }

.slide_home .text {
  text-align: left;
  position: absolute;
  left: 45%;
  top: 42%; }
  @media (max-width: 991px) {
    .slide_home .text {
      top: 40%; } }
  @media (max-width: 480px) {
    .slide_home .text {
      display: none; } }

.slide_home h2 {
  color: #fff;
  margin: auto;
  text-shadow: 2px 2px 2px black;
  font-family: "Pacifico";
  font-size: 60px; }
  @media (max-width: 1199px) {
    .slide_home h2 {
      font-size: 52px; } }
  @media (max-width: 991px) {
    .slide_home h2 {
      font-size: 40px; } }
  @media (max-width: 767px) {
    .slide_home h2 {
      font-size: 35px; } }
  @media (max-width: 599px) {
    .slide_home h2 {
      font-size: 28px; } }

.slide_home .bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0; }

.news {
  background: url("../img/background/bg8.jpg") no-repeat;
  background-position: center;
  background-size: cover; }
  .news .wrp_ctn .ctn_news .item_news {
    height: 410px; }
    @media (max-width: 1199px) {
      .news .wrp_ctn .ctn_news .item_news {
        height: 372px; } }
    @media (max-width: 991px) {
      .news .wrp_ctn .ctn_news .item_news {
        height: 310px; } }
    @media (max-width: 767px) {
      .news .wrp_ctn .ctn_news .item_news {
        height: 260px; } }
    @media (max-width: 599px) {
      .news .wrp_ctn .ctn_news .item_news {
        height: 256px; } }
    @media (max-width: 480px) {
      .news .wrp_ctn .ctn_news .item_news {
        height: 215px; } }
    @media (max-width: 320px) {
      .news .wrp_ctn .ctn_news .item_news {
        height: 222px; } }
    .news .wrp_ctn .ctn_news .item_news .wrp_item .img_news {
      box-shadow: 3px 2px 7px 0px; }
      .news .wrp_ctn .ctn_news .item_news .wrp_item .img_news:hover .bg_img {
        transform: scale(1.2); }
      .news .wrp_ctn .ctn_news .item_news .wrp_item .img_news:hover .view {
        display: block; }
      .news .wrp_ctn .ctn_news .item_news .wrp_item .img_news .bg_img {
        padding-top: 125%; }
        @media (max-width: 480px) {
          .news .wrp_ctn .ctn_news .item_news .wrp_item .img_news .bg_img {
            padding-top: 100%; } }
        @media (max-width: 320px) {
          .news .wrp_ctn .ctn_news .item_news .wrp_item .img_news .bg_img {
            padding-top: 55%; } }
    .news .wrp_ctn .ctn_news .item_news .wrp_item .ctn_item {
      height: 180px;
      position: absolute;
      top: 55%;
      right: 5%;
      left: 5%;
      width: 90%;
      border: 5px solid #d0963e;
      box-shadow: 0px 0px 10px 1px; }
      @media (max-width: 1199px) {
        .news .wrp_ctn .ctn_news .item_news .wrp_item .ctn_item {
          top: 55%;
          height: 165px; } }
      @media (max-width: 991px) {
        .news .wrp_ctn .ctn_news .item_news .wrp_item .ctn_item {
          top: 50%;
          height: 150px; } }
      @media (max-width: 767px) {
        .news .wrp_ctn .ctn_news .item_news .wrp_item .ctn_item {
          top: 45%;
          height: 140px;
          border: 4px solid #d0963e; } }
      @media (max-width: 599px) {
        .news .wrp_ctn .ctn_news .item_news .wrp_item .ctn_item {
          top: 54%;
          height: 115px;
          border: 4px solid #d0963e; } }
      @media (max-width: 480px) {
        .news .wrp_ctn .ctn_news .item_news .wrp_item .ctn_item {
          top: 55%;
          height: 105px;
          border: 4px solid #d0963e;
          top: 50%; } }
      @media (max-width: 320px) {
        .news .wrp_ctn .ctn_news .item_news .wrp_item .ctn_item {
          height: 109px;
          top: 50%;
          padding: 3%; } }
  .news .wrp_ctn .ctn_news .item1 .bg_img {
    background: url(../img/food/food1.jpg) no-repeat !important;
    background-position: center !important;
    background-size: cover !important; }
  .news .wrp_ctn .ctn_news .item2 .bg_img {
    background: url(../img/food/food7.jpg) no-repeat !important;
    background-position: center !important;
    background-size: cover !important; }
  .news .wrp_ctn .ctn_news .item3 .bg_img {
    background: url(../img/food/food3.jpg) no-repeat !important;
    background-position: center !important;
    background-size: cover !important; }
  .news .wrp_ctn .ctn_news .item4 .bg_img {
    background: url(../img/food/food5.jpg) no-repeat !important;
    background-position: right !important;
    background-size: cover !important; }

.rest {
  background: url("../img/background/bg10.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  .rest .ctn_rest .item_rest:hover .wrp_item {
    border: 2px solid #d0963e;
    transition: .3s ease-in-out; }
    @media (max-width: 767px) {
      .rest .ctn_rest .item_rest:hover .wrp_item {
        border: none; } }
    .rest .ctn_rest .item_rest:hover .wrp_item .bg_img {
      transform: scale(1.2); }
    .rest .ctn_rest .item_rest:hover .wrp_item .view {
      display: block !important; }
  .rest .ctn_rest .item_rest .wrp_item {
    margin: 0 !important;
    padding: 4%;
    border: 2px solid transparent; }
    @media (max-width: 767px) {
      .rest .ctn_rest .item_rest .wrp_item {
        border: none; } }
    .rest .ctn_rest .item_rest .wrp_item .img_rest .bg_img {
      padding-top: 90%; }
  .rest .ctn_rest .item1 .bg_img {
    background-position: right !important;
    background-size: cover !important; }
  .rest .ctn_rest .item2 .bg_img {
    background: url(../img/restaurant/res2.jpg) no-repeat !important;
    background-position: right !important;
    background-size: cover !important; }
  .rest .ctn_rest .item3 .bg_img {
    background: url(../img/restaurant/res3.jpg) no-repeat !important;
    background-position: right !important;
    background-size: cover !important; }
  .rest .ctn_rest .item4 .bg_img {
    background: url(../img/restaurant/res4.jpg) no-repeat !important;
    background-position: right !important;
    background-size: cover !important; }

.statistics {
  background: url("../img/background/bg9.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white; }
  .statistics .wrp_ctn {
    background: rgba(0, 0, 0, 0.5); }
    .statistics .wrp_ctn .ctn_stt .item_stt {
      text-align: center;
      padding: 0;
      padding-right: 3%; }
      @media (max-width: 767px) {
        .statistics .wrp_ctn .ctn_stt .item_stt {
          width: 50%;
          padding-right: 15%;
          padding-bottom: 5%; } }
      @media (max-width: 599px) {
        .statistics .wrp_ctn .ctn_stt .item_stt {
          width: 50%;
          padding-right: 10%; } }
      @media (max-width: 480px) {
        .statistics .wrp_ctn .ctn_stt .item_stt {
          width: 100%;
          padding-right: 0; } }
      .statistics .wrp_ctn .ctn_stt .item_stt div {
        padding: 0; }
      .statistics .wrp_ctn .ctn_stt .item_stt i {
        font-size: 70px;
        color: #d0963e; }
        @media (max-width: 1199px) {
          .statistics .wrp_ctn .ctn_stt .item_stt i {
            font-size: 63px; } }
        @media (max-width: 991px) {
          .statistics .wrp_ctn .ctn_stt .item_stt i {
            font-size: 52px;
            padding-bottom: 3%; } }
        @media (max-width: 599px) {
          .statistics .wrp_ctn .ctn_stt .item_stt i {
            font-size: 48px; } }
      .statistics .wrp_ctn .ctn_stt .item_stt p {
        font-size: 18px;
        font-family: "OpenSans Regular"; }
        @media (max-width: 1199px) {
          .statistics .wrp_ctn .ctn_stt .item_stt p {
            font-size: 15px; } }
        @media (max-width: 1199px) {
          .statistics .wrp_ctn .ctn_stt .item_stt p {
            font-size: 13px; } }
        @media (max-width: 599px) {
          .statistics .wrp_ctn .ctn_stt .item_stt p {
            text-align: left; } }
      .statistics .wrp_ctn .ctn_stt .item_stt .number {
        font-family: "OpenSans Bold";
        font-size: 30px; }
        @media (max-width: 1199px) {
          .statistics .wrp_ctn .ctn_stt .item_stt .number {
            font-size: 25px; } }
        @media (max-width: 599px) {
          .statistics .wrp_ctn .ctn_stt .item_stt .number {
            font-size: 22px; } }

.about .ctn_about p {
  margin: 0;
  font-family: "OpenSans Regular";
  text-align: center;
  font-size: 20px;
  padding: 0 12%; }
  @media (max-width: 991px) {
    .about .ctn_about p {
      font-size: 16px; } }
  @media (max-width: 599px) {
    .about .ctn_about p {
      font-size: 14px; } }
  @media (max-width: 480px) {
    .about .ctn_about p {
      font-size: 12px; } }

.contact {
  text-align: center; }
  .contact .wrp_contact {
    font-family: "OpenSans Regular"; }
    .contact .wrp_contact .ctn_contact a, .contact .wrp_contact .ctn_contact p, .contact .wrp_contact .ctn_contact h3, .contact .wrp_contact .ctn_contact span {
      color: #626261; }
    .contact .wrp_contact .ctn_contact .icon {
      margin-bottom: 4%; }
      @media (max-width: 599px) {
        .contact .wrp_contact .ctn_contact .icon {
          display: none; } }
      @media (max-width: 767px) {
        .contact .wrp_contact .ctn_contact .icon .item_icon {
          padding: 0; } }
      .contact .wrp_contact .ctn_contact .icon .item_icon i {
        line-height: 60px;
        font-size: 25px;
        color: #fff; }
        @media (max-width: 767px) {
          .contact .wrp_contact .ctn_contact .icon .item_icon i {
            line-height: 55px;
            font-size: 20px; } }
      .contact .wrp_contact .ctn_contact .icon .item_icon span {
        border: 1px solid #d0963e;
        background: #d0963e;
        border-radius: 50%;
        display: inline-block;
        width: 60px; }
        @media (max-width: 767px) {
          .contact .wrp_contact .ctn_contact .icon .item_icon span {
            width: 55px; } }
      .contact .wrp_contact .ctn_contact .icon .item_icon .text {
        margin-top: 5%; }
        @media (max-width: 767px) {
          .contact .wrp_contact .ctn_contact .icon .item_icon .text {
            font-size: 13px; } }
        .contact .wrp_contact .ctn_contact .icon .item_icon .text p {
          margin: 0; }
    .contact .wrp_contact .ctn_contact .message input, .contact .wrp_contact .ctn_contact .message textarea, .contact .wrp_contact .ctn_contact .message button {
      border-radius: 0;
      border: 1px solid #d0963e;
      background-color: transparent; }
      .contact .wrp_contact .ctn_contact .message input:focus, .contact .wrp_contact .ctn_contact .message textarea:focus, .contact .wrp_contact .ctn_contact .message button:focus {
        border: 1px solid #d0963e;
        box-shadow: 0px 0px 13px 0px #d0963e; }
    .contact .wrp_contact .ctn_contact .message input {
      height: 40px; }
      @media (max-width: 320px) {
        .contact .wrp_contact .ctn_contact .message input {
          height: 30px; } }
    .contact .wrp_contact .ctn_contact .message textarea {
      height: 200px;
      max-width: 100%; }
      @media (max-width: 599px) {
        .contact .wrp_contact .ctn_contact .message textarea {
          height: 140px; } }
      @media (max-width: 320px) {
        .contact .wrp_contact .ctn_contact .message textarea {
          height: 90px; } }
    .contact .wrp_contact .ctn_contact .message input::-webkit-input-placeholder {
      color: #626261 !important; }
    .contact .wrp_contact .ctn_contact .message input:-moz-placeholder {
      /* Firefox 18- */
      color: #626261 !important; }
    .contact .wrp_contact .ctn_contact .message input::-moz-placeholder {
      /* Firefox 19+ */
      color: #626261 !important; }
    .contact .wrp_contact .ctn_contact .message input:-ms-input-placeholder {
      color: #626261 !important; }
    .contact .wrp_contact .ctn_contact .message textarea::-webkit-input-placeholder {
      color: #626261 !important; }
    .contact .wrp_contact .ctn_contact .message textarea:-moz-placeholder {
      /* Firefox 18- */
      color: #626261 !important; }
    .contact .wrp_contact .ctn_contact .message textarea::-moz-placeholder {
      /* Firefox 19+ */
      color: #626261 !important; }
    .contact .wrp_contact .ctn_contact .message textarea:-ms-input-placeholder {
      color: #626261 !important; }
    .contact .wrp_contact .ctn_contact .message .title {
      margin-bottom: 4%; }
      .contact .wrp_contact .ctn_contact .message .title h3 {
        margin: 0;
        font-weight: bold; }
        @media (max-width: 599px) {
          .contact .wrp_contact .ctn_contact .message .title h3 {
            font-size: 18px; } }
    .contact .wrp_contact .ctn_contact .message .content .form-group {
      padding: 0;
      margin: 0; }
      .contact .wrp_contact .ctn_contact .message .content .form-group .form-control {
        color: #626261; }
    .contact .wrp_contact .ctn_contact .message .content .item_ctn {
      margin-bottom: 3%;
      padding-right: 3%;
      padding-left: 3%; }
    .contact .wrp_contact .ctn_contact .message .content .textarea {
      padding-right: 3%;
      padding-left: 3%; }
    .contact .wrp_contact .ctn_contact .message .send {
      text-align: left;
      padding: 3%;
      padding-bottom: 0; }
      .contact .wrp_contact .ctn_contact .message .send button {
        font-size: 16px;
        font-weight: bold;
        padding: 1% 3%;
        background: #d0963e;
        border: 2px solid #d0963e;
        transition: .3s ease-in-out; }
        @media (max-width: 320px) {
          .contact .wrp_contact .ctn_contact .message .send button {
            font-size: 13px;
            padding: 1% 5%; } }
        .contact .wrp_contact .ctn_contact .message .send button:hover {
          color: #d0963e;
          background: #fff;
          border: 2px solid #d0963e; }
