<div>
	<!--Slide Home-->
	<div ng-include="'app/components/home/slide_home/slide_home.html'"></div>
	<!--News-->
	<div ng-include="'app/components/home/news/news.html'"></div>
	<!--Restaurants-->
	<div ng-include="'app/components/home/rest/rest.html'"></div>
	<!--About Us-->
	<div ng-include="'app/components/home/about_us/about_us.html'"></div>
	<!--Statistics-->
	<div ng-include="'app/components/home/statistics/statistics.html'"></div>
	<!--Contact-->
	<div ng-include="'app/components/home/contact/contact.html'"></div>
	
</div>