<div ng-controller="statisticsCtrl">
	<!--Statistics-->
   <div id="stt" class="statistics">
    <div class="wrp_ctn">
      <div class="container">
        <div class="ctn_title">
          <h2>Statistics</h2>
          <p class="underline"></p>
        </div>
        <div class="ctn_stt ctn_products">
          <div class="col-md-3 col-xs-3 item_stt ">
            <div class="col-md-6 col-xs-6 icon">
              <i class="fa fa-users"></i>
            </div>
            <div class="col-md-6 col-xs-6 text">
              <p class="number" id="item_stt1"></p>
              <p class="">Happy Clients</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="col-md-3 col-xs-3 item_stt ">
            <div class="col-md-6 col-xs-6 icon">
              <i class="fa fa-star"></i>
            </div>
            <div class="col-md-6 col-xs-6 text">
              <p class="number" id="item_stt2"></p>
              <p class="">Dishes cooked</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="col-md-3 col-xs-3 item_stt ">
            <div class="col-md-6 col-xs-6 icon">
              <i class="fa fa-glass"></i>
            </div>
            <div class="col-md-6 col-xs-6 text">
              <p class="number" id="item_stt3"></p>
              <p class="">Mugs of beer</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="col-md-3 col-xs-3 item_stt ">
            <div class="col-md-6 col-xs-6 icon">
              <i class="fa fa-trophy"></i>
            </div>
            <div class="col-md-6 col-xs-6 text">
              <p class="number" id="item_stt4"></p>
              <p class="">Awards won</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>