.detail_albums {
	background: url('../img/background/bg8.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	.tab_albums {
		text-align: center;
		border: 1px solid $color-hover2;
		@include breakpoint(mid-phone) {
			display: none;
		}
		.item_tab {
			padding: 0;
			a {
				padding: 4% 0;
				display: block;
				text-decoration: none;
				color: $color-hover2;
				font-weight: bold;
				@include breakpoint(phone) {
					font-size: 13px;
				}
				&:hover {
					color: $color-white;
					background: $color-hover;
					transition: all .3s;
					text-decoration: none;
				}
			}
		}
		.act_tab {
			background: $color-hover;
			a {
				color: $color-white;
			}
		}
	}
	.img_albums {
		margin-top: 3%;
		.item_img {
			padding: 0;
			margin-bottom: 1%;
			@include breakpoint(small-tablet) {
				width: 33.33333%;
			}
			@include breakpoint(mid-phone) {
				width: 50%;
			}
			&:hover {
				.hover_bg {
					background: rgba(255,255,255,0.5);
					transition: all .3s;
				}
			}
			.wrp {
				padding: 0 2%;
				.bg {
					cursor: pointer;
					background: url(../img/food/food5.jpg) no-repeat;
					background-size: cover;
					background-position: center;
					.hover_bg {
						padding-top: 70%;
					}
				}
			}
		}
	}
}