.detail_restaurants {
	.wrp_blur {
		background: url('../img/background/bg14.jpg') no-repeat;
		background-position: center;
		background-size: cover;
		.features {
			background: rgba(0,0,0,0.85);
			.wrp {
				.title {}
				.ctn_features {
					color: $color-white;
					letter-spacing: 2px;
					text-align: center;
					// margin-top: 2%;
					.item_ctn {
						@include breakpoint(small-tablet) {
							width: 50%;
						}
						@include breakpoint(mid-phone) {
							width: 100%;
						}
						
						.title_item {
							h4 {
								font-family: $font-title-ctn;
								@include breakpoint(small-desktop) {
									font-size: 16px;
								}
								@include breakpoint(phone) {
									font-size: 15px;
								}
							}
						}
						.content {
							margin-top: 0 !important;
							p {
								font-family: $font-para;
								@include breakpoint(small-desktop) {
									font-size: 13px;
								}
								@include breakpoint(phone) {
									font-size: 12px;
								}
							}
						}
					}
				}
			}
		}
	}
	.albums {
		background: $color-white;
		.wrp {
			.img_albums {
				text-align: center;
				p, a, h5 {
					@include breakpoint(small-tablet) {
						font-size: 13px;
					}
				}
				.item {
					padding: 0;
					margin-bottom: 1%;
					@include breakpoint(phone) {
						width: 33.33333%;
					}
					@include breakpoint(mid-phone) {
						width: 50%;
					}
					.wrp_item {
						padding: 0 2%;
						.img {
							&:hover {
								opacity: 0.5;
								transition: all .3s;
							}
							.bg {
								cursor: pointer;
								padding-top: 80%;
								background: url(../img/food/food1.jpg) no-repeat !important;
								background-size: cover !important;
								background-position: center !important;
							    .upload {
							    	display: none;
							    }
							}
						}
						.text {
							margin-top: 2%;
							.title_album {
								font-weight: bold ;
								margin-bottom: 2%;
								cursor: pointer;
								&:hover {
									color: $color-hover;
									transition: all .3s;
								}
							}
							.num {
								margin: 0;
							}
						}
					}
				}
				
			}
		}
	}
}