<div ng-controller="aboutCtrl">
	<!--About Us-->
  	<div id="about" class="about">
	    <div class="wrp_ctn container">
	      <div class="ctn_title">
	        <h2>About Us</h2>
	        <p class="underline"></p>
	      </div>
	      <div class="ctn_about ctn_products">
	        <p>
	          Our Chefs offer you perfect cooking, best served dishes with fresh ingredients and old recipes. We have only carefully sourced and seasonal ingredients in our disposal to make rustic dishes. We provide you with daily self-made bread, sourdough pizza, roasted fish-meat-vegetables and many more.
	        </p>
	      </div>
	    </div>
  	</div>
</div>