<div class="detail_albums item_detail" ng-controller="detailAlbumsCtrl">

	<div class="container">
		<div class="title">
			<h2>Video</h2>
		</div>
		<div class="tab_albums ">
			<div class="item_tab video col-md-2 col-xs-2">
				<a href=""  ng-click="test.actTab()">Video</a>
			</div>
			<div class="item_tab food col-md-2 col-xs-2">
				<a href="">Món ăn</a>
			</div>
			<div class="item_tab space col-md-2 col-xs-2">
				<a href="">Không gian</a>
			</div>
			<div class="item_tab menu col-md-2 col-xs-2">
				<a href="">Bảng giá</a>
			</div>
			<div class="item_tab service col-md-2 col-xs-2">
				<a href="">Dịch vụ</a>
			</div>
			<div class="item_tab general col-md-2 col-xs-2">
				<a href="">Tổng hợp</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="img_albums">
			<div class="item_img col-md-3 col-xs-3">
				<div class="wrp">
					<div class="bg">
						<div class="hover_bg"></div>
					</div>
				</div>
			</div>
			<div class="item_img col-md-3 col-xs-3">
				<div class="wrp">
					<div class="bg">
						<div class="hover_bg"></div>
					</div>
				</div>
			</div>
			<div class="item_img col-md-3 col-xs-3">
				<div class="wrp">
					<div class="bg">
						<div class="hover_bg"></div>
					</div>
				</div>
			</div>
			<div class="item_img col-md-3 col-xs-3">
				<div class="wrp">
					<div class="bg">
						<div class="hover_bg"></div>
					</div>
				</div>
			</div>
			<div class="item_img col-md-3 col-xs-3">
				<div class="wrp">
					<div class="bg">
						<div class="hover_bg"></div>
					</div>
				</div>
			</div>
			<div class="item_img col-md-3 col-xs-3">
				<div class="wrp">
					<div class="bg">
						<div class="hover_bg"></div>
					</div>
				</div>
			</div>
			<div class="item_img col-md-3 col-xs-3">
				<div class="wrp">
					<div class="bg">
						<div class="hover_bg"></div>
					</div>
				</div>
			</div>
			<div class="item_img col-md-3 col-xs-3">
				<div class="wrp">
					<div class="bg">
						<div class="hover_bg"></div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>