<div ng-controller="modalRatingCtrl">
	<!-- Modal Login-->
	<div id="modal_rating" class="modal fade modal_detail" role="dialog">
	    <div class="modal-dialog">
	      <!-- Modal content-->
	      
	        <div class="modal-content content">
	          <div class="wrp_modal_ctn">
	            <div class="modal-header">
	              <button type="button" class="close" data-dismiss="modal">&times;</button>
	              <h4 class="modal-title">Đánh giá</h4>
	            </div>

	            <div class="modal-body">
	             	<div class="item_rate">
	             		<h4 class="col-md-6 col-xs-6">Vị trí</h4> 
	             		<div class="rate1 icon_rate col-md-6 col-xs-6"></div>
	             		<div class="clearfix"></div>
	             	</div>
	             	<div class="item_rate">
	             		<h4 class="col-md-6 col-xs-6">Giá cả</h4> 
	             		<div class="rate1 icon_rate col-md-6 col-xs-6"></div>
	             		<div class="clearfix"></div>
	             	</div>
	             	<div class="item_rate">
	             		<h4 class="col-md-6 col-xs-6">Phục vụ</h4> 
	             		<div class="rate1 icon_rate col-md-6 col-xs-6"></div>
	             		<div class="clearfix"></div>
	             	</div>
	             	<div class="item_rate">
	             		<h4 class="col-md-6 col-xs-6">Không gian</h4> 
	             		<div class="rate1 icon_rate col-md-6 col-xs-6"></div>
	             		<div class="clearfix"></div>
	             	</div>
	             	<div class="item_rate">
	             		<h4 class="col-md-6 col-xs-6">Chất lượng</h4> 
	             		<div class="rate1 icon_rate col-md-6 col-xs-6"></div>
	             		<div class="clearfix"></div>
	             	</div>
	             	<!-- <div class="button">
	             		<button type="button" class="btn btn-success">Hoàn tất</button>
	             	</div> -->
	             	<div class="btn_complete">
	                  <div class="btn btn-success">
	                    <div class="hover_bg">Hoàn tất</div>
	                  </div>   
	                </div>
	            </div>
	          </div>
	        </div>
	    </div>
	</div> 
</div>
