<div class="introduce">
	<div class="container">
		<!--Giới thiệu-->
		<div class="info it_intro">
			<div class="img col-md-7 col-xs-6">
				<div class="slider-nav left col-md-3 col-xs-3">
					<div class="item item1 ">
						<div class="bg"></div>
					</div>
			      	<div class="item item2 ">
						<div class="bg"></div>
					</div>
					<div class="item item3 ">
						<div class="bg"></div>
					</div>
					
				</div>
			    <div class="slider-for right col-md-9 col-xs-9">
			    	<div class="item item1">
						<div class="bg"></div>
					</div>
			      	<div class="item item2">
						<div class="bg"></div>
					</div>
					<div class="item item3">
						<div class="bg"></div>
					</div>
			    </div>
			    <div class="slider-nav left left2 col-md-3 col-xs-3">
			      	<div class="item item1">
						<div class="bg"></div>
					</div>
			      	<div class="item item2">
						<div class="bg"></div>
					</div>
					<div class="item item3">
						<div class="bg"></div>
					</div>
					<!-- <div class="clearfix"></div> -->
			    </div>
			    <div class="clearfix"></div>
			</div>
			<div class="text col-md-5 col-xs-6">
				<div class="content_text">
					<h3 class="item name">Kem Baskin Robbins</h3>
					<div class="heart item"><i class="fa fa-heart"></i><i class="fa fa-heart"></i><i class="fa fa-heart-o"></i><i class="fa fa-heart-o"></i><i class="fa fa-heart-o"></i></div>
					<p class="restaurant item"><i class="fa fa-home"></i><a href="">Kem Baskin Bach Dang</a></p>
					<p class="address item"><i class="fa fa-location-arrow"></i>123 Bach Dang, Da Nang</p>
					<p class="price item"><i class="fa fa-tag"></i>50.000</p>
					<p class="phone item"><i class="fa fa-phone"></i>0511.65232323</p>
					<p class="clock item"><i class="fa fa-clock-o"></i>08:00 - 21:00</p>
					<div class="social item">
						<div class="it_social fb">
							<a href=""><i class="fa fa-facebook"></i>Like</a>
						</div>
						<div class="it_social gg">
							<a href=""><i class="fa fa-google-plus"></i>Like</a>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<!--Bản đồ-->
		<div class="map it_intro">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10843.689462329952!2d108.22021569643061!3d16.074663075337106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142183071b662c7%3A0x7564e5d74165362a!2sGreen+Global+Co.%2C+Ltd!5e0!3m2!1svi!2s!4v1482477696943" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
		<div class="clearfix"></div>
		<!--Tương tác-->
		<div class="interact it_intro">
			<div class="it_inter phone col-md-2 col-xs-2">
				<a href=""><i class="fa fa-phone"></i>Gọi điện</a>
			</div>
			<div class="it_inter save col-md-2 col-xs-2">
				<a href=""><i class="fa fa-bookmark"></i>Lưu lại</a>
			</div>
			<div class="it_inter cmt col-md-2 col-xs-2">
				<a href="" data-toggle="modal" data-target="#modal_cmt"><i class="fa fa-comment"></i>Bình luận</a>
			</div>
			<div class="it_inter share col-md-2 col-xs-2">
				<a href=""><i class="fa fa-share-alt"></i>Chia sẽ</a>
			</div>
			<div class="it_inter order col-md-2 col-xs-2">
				<a href=""><i class="fa fa-bell"></i>Đặt bàn</a>
			</div>
			<div class="it_inter assess col-md-2 col-xs-2">
				<a href="" data-toggle="modal" data-target="#modal_rating"><i class="fa fa-heart"></i></i>Đánh giá</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>