<div class="detail_restaurants details" ng-controller="detailRestCtrl">
	<div class="page_location">
		<div class="container">
			<div class="it_page home">
				<a href="">Home > </a>
			</div>
			<div class="it_page type">
				<a href="">Restaurant ></a>
			</div>
			<div class="it_page dt">
				<a href="">{{dt_rest.name}} </a>
			</div>
			<div class="clearfix"></div>
		</div>

	</div>
	<!--Introduce-->
	<div ng-include="'app/components/detail_rest/introduce/introduce.html'"></div>
	<div ui-view="main"></div>
</div>