	<!--Features-->
	<div ng-include="'app/components/detail_rest/features/features.html'"></div>
	<!--Album-->
	<div ng-include="'app/components/detail_rest/albums/albums.html'"></div>
	<!--Other Products-->
	<div ng-include="'app/components/detail_rest/other/other.html'"></div>
	<!--Comments-->
	<div ng-include="'app/components/detail_rest/comments/comments.html'"></div>