
	<div class="other item_detail">
		<div class="wrp">
			<div class="title">
				<h2>Ảnh liên quan</h2>
			</div>
			<div class="other_slide">
			    <div class="item_slide item1">
			      <div class="bg"></div>
			    </div> 
			    <div class="item_slide item2">
			      <div class="bg"></div>
			    </div>
			    <div class="item_slide item3">
			      <div class="bg"></div>
			    </div>
			    <div class="item_slide item4">
			      <div class="bg"></div>
			    </div>
				<div class="item_slide item1">
			      <div class="bg"></div>
			    </div> 
			    <div class="item_slide item2">
			      <div class="bg"></div>
			    </div>
			    <div class="item_slide item3">
			      <div class="bg"></div>
			    </div>
			    <div class="item_slide item4">
			      <div class="bg"></div>
			    </div>
			  </div>
		</div>
	</div>
