<div ng-controller="headerCtrl">
	
	<!-- <div ui-view="menu"></div> -->
	
	<!-- <div ui-view="slide_home"></div> -->
	<!--Menu-->
	<div ng-include="'app/components/common/header/menu/menu.html'"></div>
	<!--Slide Home-->
	<!-- <div ng-include="'app/components/common/header/slide_home/slide_home.html'"></div> -->
</div>