<div ng-controller="modalRegisterCtrl">
	 <!-- Modal Register-->
  	<div id="modal_register" class="modal fade" role="dialog">
	    <div class="modal-dialog">
	      <!-- Modal content-->
	      <div class="modal-content content">
	        <div class="wrp_modal_ctn">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal">&times;</button>
	            <h4 class="modal-title">Register</h4>
	          </div>

	          <div class="modal-body">
	            <div class="input-group first_name">
	              <span class="input-group-addon" id="first_name"><i class="fa fa-user"></i></span>
	              <input type="text" class="form-control" placeholder="Họ" aria-describedby="first_name">
	            </div>
	            <div class="input-group last_name">
	              <span class="input-group-addon" id="last_name"><i class="fa fa-user"></i></span>
	              <input type="text" class="form-control" placeholder="Tên" aria-describedby="last_name">
	            </div>
	            <div class="input-group username">
	              <span class="input-group-addon" id="username"><i class="fa fa-user"></i></span>
	              <input type="text" class="form-control" placeholder="Tên tài khoản" aria-describedby="username">
	            </div>
	            <div class="input-group email">
	              <span class="input-group-addon" id="email"><i class="fa fa-envelope"></i></i></span>
	              <input type="email" class="form-control" placeholder="Email" aria-describedby="email">
	            </div>
	            <div class="input-group password">
	              <span class="input-group-addon" id="pass"><i class="fa fa-key"></i></span>
	              <input type="password" class="form-control" placeholder="Mật khẩu" aria-describedby="pass">
	            </div>
	            <div class="input-group confirm_pass">
	              <span class="input-group-addon" id="confirm_pass"><i class="fa fa-shield"></i></span>
	              <input type="password" class="form-control" placeholder="Nhập lại mật khẩu" aria-describedby="confirm_pass">
	            </div>
	            <div class="sign_up">
	              <div class="btn btn-success">
	                <div class="hover_bg">Đăng kí</div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
  	</div>
</div>